<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="700" height="490">
 <param name="movie" value="http://www.hamsteracademy.fr/jeux/{$jeu_flash}" />
 <param name="menu" value="true" />
 <param name="quality" value="high" />
 <embed src="http://www.hamsteracademy.fr/jeux/{$jeu_flash}" menu="true" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="700" height="490"></embed>
</object>
<br/>&nbsp;<br/>

{if $lang == "fr"}

<b>{$jeu_titre}</b> : {$jeu_description}
<br/>&nbsp;<br/>

<div style="float:left;text-align:left; width:700px; margin-left:200px;">
    <div>
    <div style="float:left; margin-right:10px; vertical-align:top;"><img src="images/score.png" alt="Scores du jeu {$jeu_titre}" style="height:40px; vertical-align:middle;" /></div>
    <div> Scores des joueurs :<br/>
    <table cellpadding="3" cellspacing="0" border="1" width="600">
        <tr><td align="center">Depuis 1 semaine</td><td align="center">Depuis 1 mois</tt><td align="center">Depuis toujours</td></tr>
        <tr><td>{$scores_joueurs_semaine}</td><td>{$scores_joueurs_mois}</td><td>{$scores_joueurs}</td></tr>
    </table>
    <div style="font-size:9pt;">
    <form action="autresjeux.php" method="post">
    Ajoute ton score : (inutile de tricher, personne n'aura de récompense !)<br/>
    <input type="hidden" name="jeu" value="{$jeu_tag}" />
    <input type="hidden" name="action" value="ajouterScore" />
    <input type="hidden" name="jeu_id" value="{$jeu_id}" /> ton pseudo : <input type="textbox" name="scorePseudo" size="20" maxlength="150"> ton score : <input type="textbox" name="scoreScore" size="10" maxlength="10"> <input type="submit" value="envoyer"></form>
    </div>
    </div>
    </div>
    <div style="clear:both;">&nbsp;</div>
    <div style="float:left; margin-right:10px; vertical-align:top;">
    <img src="images/nouveautes.gif" alt="Commentaires sur le jeu {$jeu_titre}" style="height:40px; vertical-align:middle;" />
    </div>
    <div>Commentaires des autres joueurs :<br/>
    {$commentaires_joueurs}
    </div>
    <div style="clear:both;">&nbsp;</div>
    <div style="float:left; margin-right:10px;">
    <img src="images/forum.gif" alt="Forum du jeu {$jeu_titre}" style="height:40px; vertical-align:middle;" />
    </div>
    <div> <a href="forum/viewtopic.php?id={$jeu_forum_id}" target="_blank">Aller sur le forum officiel de {$jeu_titre} !</a>
    </div>
</div>

{/if}
<div style="clear:both;">&nbsp;</div>
