<div align=center>
    
    <h1>Hamster Academy - {t}Banque{/t}</h1>
    
    {if isset($menu)}
    
    {else}
        {$texteBanque}
    {/if}
    
<br/>&nbsp;<br/>
<a href="{$pagePrecUrl}">{t}Revenir au jeu{/t}</a>

<br/>&nbsp;<br/>

</div>