<div style="width:940px;">

  <div class="hamBlocColonne-top">
     <div class="hamBlocColonne-top-left"></div>
     <div class="hamBlocColonne-top-right"></div>
     <div class="hamBlocColonne-top-center"></div>        
  </div>
    
  <div class="hamBlocColonne_full">
  
    <!-- <h2 align="center">{t}Choisis ton rayon{/t}</h2>-->
  
      <div class="boutiqueRayons">
      {$lstRayons}
      </div>
      <div class="boutiqueToutLeRayon">
           
        <div class="blocRounded" style="width:850px;">
        {$rayon}
        </div>
      </div>
      
  <div style="clear:both;">&nbsp;</div>
  
  </div>
  
  {$ingredient3}
    
  <div class="hamBlocColonne-bottom">
     <div class="hamBlocColonne-bottom-left"></div>
     <div class="hamBlocColonne-bottom-right"></div>
     <div class="hamBlocColonne-bottom-center"></div>        
  </div> 

</div>