<div style="width:940px;">

  <div class="hamBlocColonne-top">
     <div class="hamBlocColonne-top-left"></div>
     <div class="hamBlocColonne-top-right"></div>
     <div class="hamBlocColonne-top-center"></div>        
  </div>
    
  <div class="hamBlocColonne_full" style="text-align:center;">

      
        <img src="images/plusdesous.gif" alt="" /><br/>&nbsp;<br/>
      
        <div class="blocRounded" style="width:300px;margin-left:auto;margin-right:auto;">
            <div style="float:left; width:250px;"><br /><span class="titre-bloc-gros2"><strong>{t}Obtenir 300 pièces{/t}</strong></span></div>
            <div style="float:left;"></div>
        </div>
        <div class="blocRounded" style="width:300px;margin-left:auto;margin-right:auto;">
            <div style="float:left; width:250px;"><br /><span class="titre-bloc-gros2"><strong>{t}Obtenir 3000 pièces{/t}</strong></span></div>
            <div style="float:left;"></div>
        </div>
        <div class="blocRounded" style="width:300px;margin-left:auto;margin-right:auto;">
            <div style="float:left; width:250px;"><br /><span class="titre-bloc-gros2"><strong>{t}Obtenir 300 pièces{/t}</strong></span></div>
            <div style="float:left;"></div>
        </div>
        <div class="blocRounded" style="width:300px;margin-left:auto;margin-right:auto;">
            <div style="float:left; width:250px;"><br /><span class="titre-bloc-gros2"><strong>{t}Obtenir 3000 pièces{/t}</strong></span></div>
            <div style="float:left;"></div>
        </div>
        <div style="clear:both;">&nbsp;</div>
      
  </div>
  <div class="hamBlocColonne-bottom">
     <div class="hamBlocColonne-bottom-left"></div>
     <div class="hamBlocColonne-bottom-right"></div>
     <div class="hamBlocColonne-bottom-center"></div>        
  </div> 

</div>