/*
HTTP Host: static.ak.connect.facebook.com
Generated: August 3rd 2010 2:42:25 PM PDT
Machine: 10.27.219.111
Location: JIT Construction: v272791
Locale: en_US
*/

.FB_UIButton{background-image:url(/images/ui/UIActionButton_ltr.png);border-style:solid;border-width:1px;display:-moz-inline-box;display:inline-block;outline:none;padding:3px 6px;vertical-align:bottom}
.FB_UIButton:hover,
.FB_UIButton:active{text-decoration:none}
.FB_UIButton:active{-moz-box-shadow:0 1px 0 rgba(0,0,0,.05);-webkit-box-shadow:0 1px 0 rgba(0,0,0,.05)}
.FB_UIButton_Text{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;background-color:transparent;border:none;cursor:pointer;display:block;font-size:11px;font-weight:bold;line-height:14px;*line-height:13px;margin:0;overflow:visible;padding:0;*padding-bottom:1px;width:auto}
.FB_UIButton_CustomIcon .FB_UIButton_Text{line-height:16px}
.FB_UIButton_Gray{background-color:#eee;border-color:#999 #999 #888;-moz-box-shadow:0 1px 0 rgba(0,0,0,.1);-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1)}
.FB_UIButton_Gray:active{background-color:#ddd;background-image:none;border-color:#999}
.FB_UIButton_Gray .FB_UIButton_Text{color:#333}
.FB_Bookmark_Icon{border:none;display:inline-block;padding:0;width:16px;height:16px;background-repeat:no-repeat;background-image:url(/images/icon_addtobookmark.gif);vertical-align:top;z-index:10;margin:1px 3px 1px 0;position:relative}
.FBConnectButton_Simple,
.FBConnectButton_RTL_Simple{background-image:url(/images/connect_favicon.png);background-repeat:no-repeat;outline:none;text-decoration:none}
.FBConnectButton_RTL_Simple{background-position:right 0}
.FBConnectButton_Simple .FBConnectButton_Text_Simple{margin:0 0 0 20px;padding-bottom:1px}
.FBConnectButton_RTL_Simple .FBConnectButton_Text_Simple{margin:0 10px 0 0}
a.FBConnectButton_Simple:hover .FBConnectButton_Text_Simple,
a.FBConnectButton_RTL_Simple:hover .FBConnectButton_Text_Simple,
.FBConnectButton_Simple:hover .FBConnectButton_Text_Simple,
.FBConnectButton_RTL_Simple:hover .FBConnectButton_Text_Simple{text-decoration:underline}
.FBConnectButton,
.FBConnectButton_RTL{background:#29447e url(/images/connect_sprite.png);background-repeat:no-repeat;cursor:default;display:inline-block;padding:0 0 0 1px;text-decoration:none;outline:none}
.FBConnectButton .FBConnectButton_Text,
.FBConnectButton_RTL .FBConnectButton_Text{background:#5f78ab url(/images/connect_sprite.png);border-top:solid 1px #879ac0;border-bottom:solid 1px #1a356e;color:#fff;display:block;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-weight:bold;padding:2px 6px 4px;margin:1px 1px 0 0;text-shadow:none}
a.FBConnectButton,
a.FBConnectButton_RTL ,
.FBConnectButton,
.FBConnectButton_RTL{text-decoration:none}
a.FBConnectButton:active .FBConnectButton_Text,
a.FBConnectButton_RTL:active .FBConnectButton_Text ,
.FBConnectButton:active .FBConnectButton_Text,
.FBConnectButton_RTL:active .FBConnectButton_Text{border-bottom:solid 1px #29447e;border-top:solid 1px #45619d;background:#4f6aa3;text-shadow:none}
.FBConnectButton_BigPun,
.FBConnectButton_RTL_BigPun{background-position:left -60px;font-size:24px;line-height:30px}
.FBConnectButton_BigPun .FBConnectButton_Text{padding:3px 8px 3px 12px;margin-left:38px}
a.FBConnectButton_BigPun:active{background-position:left -99px}
.FBConnectButton_RTL_BigPun{background-position:right -268px}
.FBConnectButton_RTL_BigPun .FBConnectButton_Text{padding:3px 8px 3px 12px;margin-right:39px}
a.FBConnectButton_RTL_BigPun:active{background-position:right -307px}
.FBConnectButton_Large,
.FBConnectButton_RTL_Large{background-position:left -138px;font-size:13px;line-height:16px}
.FBConnectButton_Large .FBConnectButton_Text{margin-left:24px}
a.FBConnectButton_Large:active{background-position:left -163px}
.FBConnectButton_RTL_Large{background-position:right -346px}
.FBConnectButton_RTL_Large .FBConnectButton_Text{margin-right:25px}
a.FBConnectButton_RTL_Large:active{background-position:right -371px}
.FBConnectButton_Medium,
.FBConnectButton_RTL_Medium{background-position:left -188px;font-size:11px;line-height:14px}
.FBConnectButton_Text,
.FBConnectButton_Medium .FBConnectButton_Text{padding:2px 6px 3px 6px;margin-left:21px}
a.FBConnectButton_Medium:active{background-position:left -210px}
.FBConnectButton_RTL_Medium{background-position:right -396px}
.FBConnectButton_RTL_Text,
.FBConnectButton_RTL_Medium .FBConnectButton_Text{padding:2px 6px 3px 6px;margin-right:22px}
a.FBConnectButton_RTL_Medium:active{background-position:right -418px}
.FBConnectButton_Small,
.FBConnectButton_RTL_Small{background-position:left -232px;font-size:10px;line-height:10px}
.FBConnectButton_Small .FBConnectButton_Text{padding:2px 6px 3px;margin-left:17px}
a.FBConnectButton_Small:active ,
.FBConnectButton_Small:active{background-position:left -250px}
.FBConnectButton_RTL_Small{background-position:right -440px}
.FBConnectButton_RTL_Small .FBConnectButton_Text{padding:2px 6px;margin-right:18px}
a.FBConnectButton_RTL_Small:active{background-position:right -458px}
.FBConnectButton_Inactive{filter:alpha(opacity = 40);-khtml-opacity:.4;-moz-opacity:.4;opacity:.4}
.fb_share_count_wrapper{position:relative;float:left}
.fb_share_count{background:#b0b9ec none repeat scroll 0 0;color:#333;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;text-align:center}
.fb_share_count_inner{background:#e8ebf2;display:block}
.fb_share_count_right{margin-left:-1px;display:inline-block}
.fb_share_count_right .fb_share_count_inner{border-top:solid 1px #e8ebf2;border-bottom:solid 1px #b0b9ec;margin:1px 1px 0 1px;font-size:10px;line-height:10px;padding:2px 6px 3px;font-weight:bold}
.fb_share_count_top{display:block;letter-spacing:-1px;line-height:34px;margin-bottom:7px;font-size:22px;border:solid 1px #b0b9ec}
.fb_share_count_nub_top{border:none;display:block;position:absolute;left:7px;top:35px;margin:0;padding:0;width:6px;height:7px;background-repeat:no-repeat;background-image:url(/rsrc.php/zCXBS/hash/89zgzk50.png)}
.fb_share_count_nub_right{border:none;display:inline-block;padding:0;width:5px;height:10px;background-repeat:no-repeat;background-image:url(/rsrc.php/zAQB0/hash/1a8txe26.png);vertical-align:top;background-position:right 5px;z-index:10;left:2px;margin:0 2px 0 0;position:relative}
.fb_share_no_count{display:none}
.fb_share_size_Small .fb_share_count_right .fb_share_count_inner{font-size:10px}
.fb_share_size_Medium .fb_share_count_right .fb_share_count_inner{font-size:11px;padding:2px 6px 3px;letter-spacing:-1px;line-height:14px}
.fb_share_size_Large .fb_share_count_right .fb_share_count_inner{font-size:13px;line-height:16px;padding:2px 6px 4px;font-weight:normal;letter-spacing:-1px}
.fb_resetstyles,
.fb_resetstyles a,
.fb_resetstyles td{padding:0;border:0;margin:0;overflow:visible;background:none;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:left;text-decoration:none;text-indent:0;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}
.fbmlIframe{width:100%}
fb\:serverfbml{display:block}
fb\:video{width:600px;height:480px}
fb\:fbml{display:none;visibility:collapse}
fb\:fbml.FB_ElementReady{display:block;visibility:visible}
fb\:profile-pic{display:inline-block;zoom:1;*display:inline;width:50px;height:50px;background-image:url(/pics/t_silhouette.jpg);background-repeat:no-repeat}
fb\:profile-pic[facebook-logo="true"]{background-image:url(/pics/t_silhouette_logo.gif)}
fb\:profile-pic[size="small"]{width:100px;height:63px;background-image:url(/pics/s_silhouette.jpg)}
fb\:profile-pic[size="small"][facebook-logo="true"]{background-image:url(/pics/s_silhouette_logo.gif)}
fb\:profile-pic[size="normal"]{width:200px;height:126px;background-image:url(/pics/d_silhouette.gif)}
fb\:profile-pic[size="normal"][facebook-logo="true"]{background-image:url(/pics/d_silhouette_logo.gif)}
fb\:profile-pic[size="square"]{width:50px;height:50px;background-image:url(/pics/q_silhouette.gif)}
fb\:profile-pic[size="square"][facebook-logo="true"]{background-image:url(/pics/q_silhouette_logo.gif)}
fb\:profile-pic.fb_profile_pic_rendered,
fb\:profile-pic[facebook-logo="true"].fb_profile_pic_rendered{display:inline;width:auto;height:auto;background-image:none;display:inline}
a.FB_Link{color:#1b7bdd;text-decoration:none}
a.FB_Link:hover{color:#2fa600;text-decoration:underline}
a.FB_Link img{border:medium none}
.FB_ElementConditionFalse{display:none}
.fb_popupContainer{position:absolute;top:0;left:0;z-index:2147483647}
.fb_popup{position:absolute;top:-10000px}
.fb_tosIFrame{width:100%;border:solid 0 #ccc;height:258px;overflow:hidden;float:left}
.fb_tosIFrame html{height:auto}
.fb_feedIFrame{width:600px;height:auto;float:left}
.fb_shareIFrame{width:100%;height:175px !important;float:left}
.fb_bookmarkIFrame{width:460px;float:left}
.fb_dialogIFrame{width:460px}
.fb_connect_dialog_iframe{width:100%}
table.fb_pop_dialog_table{border-collapse:collapse;margin:auto;table-layout:fixed;width:470px}
td.fb_pop_topleft, td.fb_pop_topright, td.fb_pop_bottomleft, td.fb_pop_bottomright{height:10px;overflow:hidden;padding:0!important;padding:5px;width:10px!important;width:0}
td.fb_pop_topleft{background-image:url(/imgs/pop_dialog_top_left.png)}
td.fb_pop_topright{background-image:url(/imgs/pop_dialog_top_right.png)}
td.fb_pop_bottomleft{background-image:url(/imgs/pop_dialog_bottom_left.png)}
td.fb_pop_bottomright{background-image:url(/imgs/pop_dialog_bottom_right.png)}
td.fb_pop_border{background-image:url(/imgs/pop_dialog_border.png)}
.fb_noshadow table td.fb_pop_topleft,
.fb_noshadow table td.fb_pop_topright,
.fb_noshadow table td.fb_pop_bottomleft,
.fb_noshadow table td.fb_pop_bottomright,
.fb_noshadow table td.fb_pop_border{background-image:none !important}
td.fb_pop_content{background-color:#fff;padding:0;vertical-align:top}
td.fb_pop_content h2{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size:14px;font-weight:bold;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;margin:0;position:relative;overflow:hidden;letter-spacing:normal;line-height:normal;padding:0;text-align:left;zoom:1;float:none;display:block}
.fb_dialog_icon{margin:5px;float:left;width:16px;height:16px;background:#6D84B4 url(/images/icons-unsprited/favicon_fordarkbg.gif) no-repeat scroll center}
a.fb_dialog_cancel_button{outline-color:invert;outline-style:none;outline-width:medium;text-decoration:none;position:absolute;right:4px;top:7px;width:18px;color:#6d84b4;background:transparent url(/images/fbconnect/connect_icon_remove.gif) no-repeat scroll 3px 0}
a.fb_dialog_cancel_button:hover{background:transparent url(/images/fbconnect/connect_icon_remove.gif) no-repeat scroll -10px 0}
.fb_dialog_loading_spinner{position:absolute;width:28px;height:8px;background:#6d84b4 url(/images/loaders/indicator_white_small.gif) no-repeat 0 0;top:8px;right:25px;display:none}
.fb_dialog_loading{display:block}
.fb_content_loader_gif{background:transparent url(/images/loaders/indicator_white_large.gif) no-repeat 0 0;height:32px;margin-left:auto;margin-right:auto;width:32px}
.fb_connect_button_loader_gif{background:transparent url(/images/loaders/indicator_blue_small.gif) no-repeat;background-position:center center
width:44px;height:16px;margin-left:auto;margin-right:auto}
.fb_connect_button_loader{display:none;height:16px;width:44px}
.fb_connect_button_loading{display:block;height:80px;width:200px}
.fb_connect_button_text{font-weight:bold;padding-left:7px}
.fb_content_loader{display:none;width:550px;height:70px}
.fb_content_loading{display:block}
td.fb_pop_content h2 span{display:block;padding:5px 10px 5px 10px}
td.fb_pop_content{background:#fff}
.fb_dialog_content{background:#fff;padding:0;margin:0;border:1px solid #555;border-top-width:0;overflow:hidden}
.fb_dialog_content.fb_loading iframe{visibility:collapse}
.fb_dialog_content.fb_loading{background-image:url(/images/loaders/indicator_blue_small.gif);background-position:center}
.fb_pop_content_container{width:auto;font-family:"lucida grande", tahoma, verdana, arial, sans-serif}
td.fb_pop_content .fb_dialog_body{border-bottom:1px solid #ccc;padding:10px}
td.fb_pop_content .fb_dialog_summary{background:#f2f2f2;padding:8px 10px 8px 10px;border-bottom:1px solid #ccc}
a.fbconnect_login_button{cursor:pointer}
.fb_confirmation_stripes{background:transparent url(/images/confirmation_stripes.gif) repeat scroll 0 0;height:15px}
.fb_dialog_content .fb_dialog_buttons{background:#F2F2F2 none repeat scroll 0 50%;border-top:1px solid #ccc;padding:8px 0 8px 8px;text-align:right;z-index:20}
.fb_dialog_content .fb_confirmation_content{font-size:11px;line-height:13px.
line-height:15px;margin:15px 30px 10px;width:auto}
.fb_inputbutton, .fb_inputsubmit{margin:0 10px 0 0;background-color:#3b5998;border-color:#D9DFEA #0E1F5B #0E1F5B #d9dfea;border-style:solid;border-width:1px;color:#fff;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;padding:2px 15px 3px;text-align:center}
.fb_inputaux{background:#f0f0f0;color:#000;border-top-color:#e7e7e7;border-right-color:#666;border-bottom-color:#666;border-left-color:#e7e7e7}
.fb_popup_blocked .fb_popup_blocked_inner{padding:15px 30px 20px 30px}
.fb_popup_blocked #fb_popup_blocked_connect{margin-top:10px;cursor:pointer}
.fb_popup_blocked .fb_popup_blocked_buttons{text-align:right;background:#F2F2F2 none repeat scroll 0 50%;border-top:1px solid #ccc;padding:8px 10px}
.fb_popup_blocked #fb_popup_blocked_cancel{margin:2px;background:#F0F0F0 none repeat scroll 0 0;border-color:#E7E7E7 #666666 #666666 #e7e7e7;color:#000;border-style:solid;border-width:1px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;padding:2px 15px 3px;text-align:center;width:auto}
html a.fb_share_link{padding:2px 0 0 20px;height:16px;background:url(/images/share/facebook_share_icon.gif?2:26981) no-repeat top left}
html body em.fb_highlightable{border-bottom:2px solid #f99;background:none;font-style:normal;padding:0;zoom:1;width:auto}
html body em.fb_highlightable:hover{cursor:help;border-top:1px solid #ccc;background-color:#fcc}