/*
HTTP Host: static.ak.fbcdn.net
Generated: July 23rd 2010 3:26:59 PM PDT
Machine: 10.30.147.195
Locale: nu_ll
Path: css/7ub3ualr35kww0cg.pkg.css
*/

body.fan_widget{background:transparent}
.fan_box .full_widget{border:solid 1px #94a3c4;background:white}
.fan_box .full_widget .connect_top{background:#eceff5}
.fan_box .connect_top{padding:10px 10px 8px 10px}
.pts .fan_box .connect_top{padding:5px 10px 8px 5px}
.fan_box .profileimage{float:left;width:40px;height:40px;padding:0 10px 0 0;margin:0 0 4px 0}
.fan_box .connect_action{padding:0 0 0 8px}
.fan_box .connect_action .name{line-height:15px;font-size:14px;font-weight:bold}
.fan_box .connect_button{padding-top:5px}
.fan_box .connect_button .uiButton{margin:1px 0 0 0}
.fan_box .connect_action a.undo{margin:0 0 0 3px}
.fan_box .page_stream{text-align:center;padding:0 10px;height:300px;overflow:auto;border-top:solid 1px #d8dfea;position:relative}
.fan_box .page_stream .loader{padding-top:20px}
.fan_box .UIIntentionalStory{background:transparent;text-align:left;padding:7px 0 0 0}
.fan_box .UIIntentionalStory .UIMediaItem_UnknownWidth{max-width:100px}
.fan_box .connections{border-top:solid 1px #d8dfea;padding:10px 0 4px 10px;min-height:150px}
.pts .fan_box .connections{padding:5px 0 4px 5px}
.fan_box .connections .connections_grid{padding-top:5px}
.fan_box .connections_grid .grid_item{float:left;padding:0 5px 8px 0;overflow:hidden;width:50px}
.fan_box .connections_grid .grid_item .name{font-size:9px;color:#808080;overflow:hidden;padding-top:2px;text-align:center;white-space:nowrap}
.fan_box .connect_span{margin:0 0 1px}
.fan_box .connect_widget .connect_widget_text{padding:0}
.fan_box .connect_widget td.connect_widget_vertical_center{height:20px}
.fan_box .connect_widget td.connect_widget_vertical_center a.connect_widget_like_button{margin-right:7px}
.fan_box .connect_widget .connect_widget_interactive_area{margin:5px 0 0}
.FBConnectButton_Simple,
.FBConnectButton_RTL_Simple{background-image:url(/images/connect_favicon.png);background-repeat:no-repeat;outline:none;text-decoration:none}
.FBConnectButton_RTL_Simple{background-position:right 0}
.FBConnectButton_Simple .FBConnectButton_Text_Simple{margin:0 0 0 20px;padding-bottom:1px}
.FBConnectButton_RTL_Simple .FBConnectButton_Text_Simple{margin:0 10px 0 0}
a.FBConnectButton_Simple:hover .FBConnectButton_Text_Simple,
a.FBConnectButton_RTL_Simple:hover .FBConnectButton_Text_Simple,
.FBConnectButton_Simple:hover .FBConnectButton_Text_Simple,
.FBConnectButton_RTL_Simple:hover .FBConnectButton_Text_Simple{text-decoration:underline}
.FBConnectButton,
.FBConnectButton_RTL{background:#29447e url(/images/connect_sprite.png);background-repeat:no-repeat;cursor:default;display:inline-block;padding:0 0 0 1px;text-decoration:none;outline:none}
.FBConnectButton .FBConnectButton_Text,
.FBConnectButton_RTL .FBConnectButton_Text{background:#5f78ab url(/images/connect_sprite.png);border-top:solid 1px #879ac0;border-bottom:solid 1px #1a356e;color:#fff;display:block;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-weight:bold;padding:2px 6px 4px;margin:1px 1px 0 0;text-shadow:none}
a.FBConnectButton,
a.FBConnectButton_RTL ,
.FBConnectButton,
.FBConnectButton_RTL{text-decoration:none}
a.FBConnectButton:active .FBConnectButton_Text,
a.FBConnectButton_RTL:active .FBConnectButton_Text ,
.FBConnectButton:active .FBConnectButton_Text,
.FBConnectButton_RTL:active .FBConnectButton_Text{border-bottom:solid 1px #29447e;border-top:solid 1px #45619d;background:#4f6aa3;text-shadow:none}
.FBConnectButton_BigPun,
.FBConnectButton_RTL_BigPun{background-position:left -60px;font-size:24px;line-height:30px}
.FBConnectButton_BigPun .FBConnectButton_Text{padding:3px 8px 3px 12px;margin-left:38px}
a.FBConnectButton_BigPun:active{background-position:left -99px}
.FBConnectButton_RTL_BigPun{background-position:right -268px}
.FBConnectButton_RTL_BigPun .FBConnectButton_Text{padding:3px 8px 3px 12px;margin-right:39px}
a.FBConnectButton_RTL_BigPun:active{background-position:right -307px}
.FBConnectButton_Large,
.FBConnectButton_RTL_Large{background-position:left -138px;font-size:13px;line-height:16px}
.FBConnectButton_Large .FBConnectButton_Text{margin-left:24px}
a.FBConnectButton_Large:active{background-position:left -163px}
.FBConnectButton_RTL_Large{background-position:right -346px}
.FBConnectButton_RTL_Large .FBConnectButton_Text{margin-right:25px}
a.FBConnectButton_RTL_Large:active{background-position:right -371px}
.FBConnectButton_Medium,
.FBConnectButton_RTL_Medium{background-position:left -188px;font-size:11px;line-height:14px}
.FBConnectButton_Text,
.FBConnectButton_Medium .FBConnectButton_Text{padding:2px 6px 3px 6px;margin-left:21px}
a.FBConnectButton_Medium:active{background-position:left -210px}
.FBConnectButton_RTL_Medium{background-position:right -396px}
.FBConnectButton_RTL_Text,
.FBConnectButton_RTL_Medium .FBConnectButton_Text{padding:2px 6px 3px 6px;margin-right:22px}
a.FBConnectButton_RTL_Medium:active{background-position:right -418px}
.FBConnectButton_Small,
.FBConnectButton_RTL_Small{background-position:left -232px;font-size:10px;line-height:10px}
.FBConnectButton_Small .FBConnectButton_Text{padding:2px 6px 3px;margin-left:17px}
a.FBConnectButton_Small:active ,
.FBConnectButton_Small:active{background-position:left -250px}
.FBConnectButton_RTL_Small{background-position:right -440px}
.FBConnectButton_RTL_Small .FBConnectButton_Text{padding:2px 6px;margin-right:18px}
a.FBConnectButton_RTL_Small:active{background-position:right -458px}
.FBConnectButton_Inactive{filter:alpha(opacity = 40);-khtml-opacity:.4;-moz-opacity:.4;opacity:.4}
.connect_comment_widget{margin:0 4px;padding:5px 0;position:relative}
.connect_comment_widget .nub{background:transparent url(/rsrc.php/z8NVR/hash/2ikiy84a.gif) no-repeat 8px 0;height:6px;width:20px;padding:0;margin:0;left:0;line-height:0;position:absolute;z-index:2;top:0}
.connect_comment_widget .comment_content{background:white;border-color:#333333 #333333 #283e6c;border-style:solid;border-width:1px 1px 2px;padding:8px 8px 5px;zoom:1}
.connect_comment_widget .connect_comment_widget_text{padding:0 0 4px}
.connect_comment_widget .connect_comment_widget_placeholder_input{width:304px;color:#808080;line-height:16px;height:20px;*padding:0 3px}
.connect_comment_widget .connect_comment_widget_placeholder_input_region{padding:3px 0 6px}
.connect_comment_widget .connect_comment_widget_user_pic{display:block;float:left;height:30px;padding:0 5px 0 0;width:30px}
.connect_comment_widget .connect_comment_widget_full_input_textarea{height:30px;width:268px}
.connect_comment_widget .connect_comment_widget_full_input_region{padding-top:3px}
.connect_comment_widget textarea.connect_comment_widget_disabled{color:#808080}
.connect_comment_widget div.connect_comment_widget_button_region{padding:6px 1px 4px;*padding-right:0;text-align:right}
.connect_comment_widget .connect_comment_widget_post_button{*margin-right:4px}
.like_button_dark .nub{background-image:url(/rsrc.php/z885S/hash/em21uru5.gif)}
.like_button_dark .comment_content{background:#111;border:1px solid #666;border-bottom:2px solid #ccc;color:#ccc}
.like_button_dark .connect_comment_widget_placeholder_input{border:1px solid #505050;background:1px solid #505050;color:#fff}
.like_button_dark .connect_comment_widget_full_input_textarea,
.like_button_dark .connect_comment_widget_placeholder_input{background-color:#666;border-color:#666;color:#dedede}
.like_button_dark .connect_comment_widget_full_input_textarea{color:#fff}
body.transparent_widget{background-color:transparent;overflow:hidden}
.connect_widget{background-color:transparent}
.connect_widget .connect_widget_facebook_favicon{background:url(/rsrc.php/z86SM/hash/191wiexm.png) no-repeat 1px -47px transparent;_background:url(/rsrc.php/z1NA6/hash/et4054lc.gif) no-repeat 1px -47px transparent;display:block;height:14px;padding:0 0 0 0;width:14px;position:absolute;left:0}
.connect_widget .connect_widget_interactive_area{border-collapse:collapse}
.connect_widget td.connect_widget_vertical_center{padding:0;border-spacing:0}
.connect_widget td.connect_widget_button_cell{vertical-align:top}
.connect_widget .connect_button_slider{position:relative;zoom:1;margin-right:5px}
.connect_widget .connect_widget_button_cell .connect_slide_hide_content{overflow:hidden;width:1px;margin-right:0}
.connect_widget .connect_slide_hide_content .connect_button_container{margin-left:1px}
.button_count .connect_widget_interactive_area .connect_widget_facebook_favicon,
.button_count .connect_widget_interactive_area .connect_widget_text{float:left;position:static}
body.ie7 .connect_widget a.connect_widget_like_button{float:none}
a.connect_widget_like_button{display:block;float:left;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:4px 5px;border:1px solid #000}
.button_count a.connect_widget_like_button{padding:2px 4px}
.button_count a.connect_widget_like_button span{line-height:14px;*line-height:13px}
a.connect_widget_like_button:hover{text-decoration:none}
.connect_widget_like_button .vertical{display:block;top:-6px;left:0;margin:0 3px -6px 0;position:relative;padding:3px 4px 4px 3px;border-top:solid 1px;border-bottom:solid 1px}
.button_count .connect_widget_like_button .vertical{padding:2px 3px 3px 2px}
.connect_widget_like_button .horizontal{height:100%;width:100%;position:absolute;display:block;top:-3px;left:-3px;padding-left:1px;border-left:solid 1px;border-right:solid 1px}
.connect_widget_like_button .corner_mask{overflow:hidden;width:3px;height:3px;position:absolute;display:block}
.connect_widget_like_button .corner{height:6px;width:6px;display:block}
.connect_widget_like_button .topleft{top:-6px;left:-3px}
.connect_widget_like_button .topleft .corner{margin:0 0}
.connect_widget_like_button .topright{top:-6px;right:0}
.connect_widget_like_button .topright .corner{margin:0 0 0 -3px}
.connect_widget_like_button .bottomright{bottom:0;right:0}
.connect_widget_like_button .bottomright .corner{margin:-3px 0 0 -3px}
.connect_widget_like_button .bottomleft{bottom:0;left:-3px}
.connect_widget_like_button .bottomleft .corner{margin:-3px 0 0 0}
.connect_widget_like_button .liketext{color:#3b5998;display:block;padding-left:19px;white-space:nowrap}
.button_count .like_button_dark .like_button_no_like .liketext ,
.button_count .connect_widget_like_button .liketext{background-position:left -47px}
.connect_widget .like_button_no_like .piece,
.connect_widget .like_button_no_like{background-color:#eceef5;border-color:#cad4e7}
.connect_widget .like_button_no_like .corner{background-position:9px 41px}
.connect_widget a.like_button_no_like:hover .piece,
.connect_widget a.like_button_no_like:hover{background-color:#eceef5;border-color:#9dacce}
.connect_widget .like_button_no_like:hover .corner{background-position:9px 35px}
.connect_widget .like_button_pressed,
.connect_widget .like_button_pressed .piece{background-color:#ced4e6;border-color:#94a5ca}
.connect_widget .like_button_pressed .corner{background-position:9px 29px}
.connect_widget .like_button_like .corner{background-position:9px 23px}
.connect_widget .like_button_dark .like_button_no_like,
.connect_widget .like_button_dark .like_button_no_like .piece{background-color:#c7c7c7;border-color:#c7c7c7;border-top-color:#e2e2e2}
.connect_widget .like_button_dark .like_button_no_like .corner{background-position:9px 66px}
.connect_widget .like_button_dark .liketext{background-position:left -3px}
.connect_widget .like_button_dark .like_button_no_like:hover,
.connect_widget .like_button_dark .like_button_no_like:hover .piece{background-color:#d9d9d9;border-color:#d9d9d9;border-top-color:#e9e9e9}
.connect_widget .like_button_dark .like_button_no_like:hover .corner{background-position:9px 60px}
.connect_widget .like_button_dark .like_button_no_like_pressed,
.connect_widget .like_button_dark .like_button_no_like_pressed .piece{background-color:#a8a8a8;border-color:#a8a8a8;border-top-color:#8f8f8f}
.connect_widget .like_button_dark .like_button_no_like_pressed .corner{background-position:9px 54px}
.connect_widget .like_button_dark .like_button_like .corner{background-position:9px 48px}
.connect_widget .connect_text_wrapper{position:relative}
.connect_widget div.connect_confirmation_cell{padding:0;margin:0}
.connect_widget .connect_widget_confirmation{margin-left:7px;padding:0 0}
.connect_widget .vertical_centering{padding-top:5px}
.connect_widget .connect_widget_confirmation span{line-height:11px}
.connect_widget .connect_text_wrapper .connect_widget_facebook_favicon{background:url(/rsrc.php/z731Q/hash/5q1hyil2.png) no-repeat 0 0 transparent;margin-top:1px;width:13px}
.connect_widget .connect_widget_text{display:block;max-height:24px;padding-left:17px}
.button_count .connect_widget_interactive_area .connect_widget_text{padding-left:0;font-weight:bold}
.connect_widget .like_button_dark .connect_widget_text,
.connect_widget .like_button_dark .connect_widget_confirmation{color:#808080}
.connect_widget .like_button_dark .connect_widget_text a{color:#fff}
.connect_widget .connect_widget_connect_button{float:left}
.connect_widget .connect_bar_widget_interactive_area{float:left}
.connect_widget .connect_bar_widget_text_cell{width:400px}
.connect_widget .connect_widget_icon{padding:4px 0 4px 4px;vertical-align:middle}
.connect_widget a.connect_widget_link_inactive{color:#808080;text-decoration:none;cursor:default}
.connect_widget a.connect_widget_error_text{color:#a00;font-weight:bold}
.connect_widget div.connect_widget_comment_box_nub{background:transparent url(/rsrc.php/zD3Z3/hash/5r8q3rp0.gif) no-repeat 0 0;height:12px;left:-6px;position:absolute;top:6px;width:20px;z-index:3}
.connect_widget div.connect_widget_comment_box{background-color:#fff;border-color:#808080;border-style:solid;border-width:1px 1px 2px 1px;left:58px;position:absolute;top:0;width:380px;z-index:2}
.connect_widget div.connect_widget_header_text{float:left;height:20;overflow:hidden;padding-left:7px;padding-top:3px;width:200}
.connect_widget div.connect_widget_cancel_button{cursor:pointer;float:right;padding-right:7px;padding-top:3px}
.connect_widget div.connect_widget_comment_text_area_div{padding-left:7px;padding-top:2px}
.connect_widget div.connect_widget_comment_area{padding:4px;padding-top:0}
.connect_widget .connect_widget_comment_textinput{width:325px}
.connect_widget .connect_widget_comment_summary{padding:7px 5px 7px 5px}
.connect_widget .connect_widget_comment_close_button{margin-left:2px}
.connect_widget textarea.connect_widget_comment_text_area{height:30px;width:476px}
.connect_widget .connect_widget_image{height:30px;width:30px;padding-top:3px;vertical-align:bottom}
.connect_widget a.name_tooltip_link{display:block}
.connect_widget a.name_tooltip_link .uiTooltipWrap:hover{display:none}
.connect_widget .connect_widget_name{text-align:center}
.connect_widget .connect_widget_sample_connection{float:left;padding-right:3px;width:30px;padding-top:5px}
.connect_widget .connect_widget_user_not_connected{display:none}
.connect_widget .connect_bar_widget_sample_connections{float:right}
body.ie7 .connect_widget a.connect_widget_like_button,
body.ie8 .connect_widget a.connect_widget_like_button{position:relative;margin:6px 0 0 3px;border:0;background-color:transparent !important;padding:0;overflow:visible}
.connect_widget_like_button .corner{background-image:url(/rsrc.php/z86SM/hash/191wiexm.png)}
.connect_widget_like_button .liketext{background:url(/rsrc.php/z86SM/hash/191wiexm.png) left -33px no-repeat;_background:url(/rsrc.php/z1NA6/hash/et4054lc.gif) left -33px no-repeat}
.connect_widget a.like_button_no_like:hover .piece,
.connect_widget a.like_button_no_like:hover{background-color:#eceef5;border-color:#9dacce}
.connect_widget .like_button_like,
.connect_widget .like_button_like .piece{background-color:#6c83b9;border-color:#3a589b}
.connect_widget .like_button_like .liketext,
.connect_widget .like_button_dark .like_button_like .liketext{padding-left:19px;color:#fff;background-position:left -18px}
.connect_widget .like_button_dark .liketext{border-top-color:#e9e9e9}
.connect_widget .like_button_dark .like_button_like,
.connect_widget .like_button_dark .like_button_like .piece{background-color:#6d84b4;border-color:#6d84b4;border-top-color:#576a90}
.fbpage_edit_header{padding:0;margin:0;height:31px;border:0;margin:-7px 0 19px;border-bottom:1px solid #ccc;background:#fff}
.pages_edit .fbpage_edit_header{margin:0}
.icon_dock{margin:0;padding:0;width:300px;float:right}
.icon_dock .icon_dock_container{margin:0;padding:0;padding-top:8px;float:right;z-index:30}
.icon_dock .edit_link{padding-right:8px;padding-top:10px;font-weight:bold;color:#666;display:block;margin:0;float:right}
.icon_dock a{padding:0;padding-left:5px;padding-top:8px;margin:0 0 0 0}
.edit_app_switcher{margin:0 0;padding-top:6px}
.edit_app_switcher .app_switcher_button .name{padding:2px 0 2px 6px}
.edit_app_switcher .app_switcher_menu{width:160px}
.edit_app_switcher .app_switcher_menu .name{width:105px;text-align:left}
.edit_app_switcher .app_switcher_button .arrow{padding:2px 0 1px}
.fbpage_edit_header .left_header{float:left;font-size:11px;font-weight:bold;overflow:hidden;padding:7px 0 2px;white-space:nowrap;width:250px}
.fbpage_edit_header .left_header_text{padding-left:5px;position:relative;top:-4px}
.fbpage_edit_header div.left_header .edit_link{font-weight:normal;padding-left:4px;color:#ccc}
.fbpage_edit_header div.left_header .edit_link a{color:#6d84b4}
.fan_status_inactive{background-color:#fffccc;color:#666;margin:0;padding:0 0 0 3px;line-height:18px}
.UIActionButtonIcon i.img{background-image:url(/rsrc.php/zCCSI/hash/7am1obcj.png);display:inline-block;height:13px;margin:0;margin-right:5px\9;*margin-top:-1px;width:8px}
.connect_widget{overflow:hidden}
.connect_widget .connect_widget_facebook_logo_menubar{background-color:#3b5998;border:1px solid #244588;border-bottom:none;margin-bottom:-1px;position:relative}
.connect_widget .connect_widget_facebook_logo{padding:3px 0 5px 6px;float:left}
.connect_widget .connect_widget_facebook_logo span{background:transparent url(/rsrc.php/zE914/hash/39wqcmrw.gif) no-repeat scroll 0 0;display:block;height:17px;width:90px}
.connect_widget .connect_widget_facebook_logo:hover span{background-position:left -17px}
.connect_widget .connect_widget_menu_options{float:right}
.connect_widget .connect_widget_menu_link{float:left;height:17px;margin-right:5px;padding:5px 5px 3px 5px;color:#fff;font-size:11px}
.connect_widget .connect_widget_menu_link:hover{background-color:#5c75aa;text-decoration:none}

#bootloader_css_7ub3ualr35kww0cg_pkg_css { height: 42px; }