.app_content_6693502097 body.fan_widget { background: transparent none repeat scroll 0% 0%; }
.app_content_6693502097 .fan_box .connections, .app_content_6693502097 .full_widget, .app_content_6693502097 .connect_top { border: medium none #ffffff ! important; background: transparent none repeat scroll 0% 0% ! important; }
.app_content_6693502097 .profileimage { border: 1px solid #461600 ! important; margin: 0pt 5px 0pt 0pt ! important; padding: 5px ! important; text-align: center ! important; background-color: #ffffff ! important; }


#bootloader_http___external_ak_fbcdn_net_fbml_static_get_php_src_http_3A_2F_2Fwww_hamsteracademy_fr_2Fcss_2Ffb_css_3F3_appid_6693502097_pv_1_sig_7447e13f506a85666632ad2896bb0977_filetype_css { height: 42px; }