
<div style="width:940px;">

  <div class="hamBlocColonne-top">
     <div class="hamBlocColonne-top-left"></div>
     <div class="hamBlocColonne-top-right"></div>
     <div class="hamBlocColonne-top-center"></div>        
  </div>
    
  <div class="hamBlocColonne_full">
  
  <h2 align="center">Bienvenue à la Mairie</h2>
    
    <div class="blocRounded" style="width:380px;">
    <h3>Carnet de mariages</h3>
    
    <div style="margin-bottom:1em; font-weight:bold;">Aujourd'hui :</div>
        <div style="margin-bottom:1em; font-size:9pt;">
        </div><div style="margin-bottom:1em; font-weight:bold;">Hier : </div><div style="margin-bottom:1em; font-size:9pt;">A 19h29, bijou s'est mariée avec choco !<br/></div>
    </div>
    <div class="blocRounded" style="width:380px;">
    <h3>Carnet de naissances</h3>
    
    <div style="margin-bottom:1em; font-weight:bold;">Aujourd'hui :</div>
    <div style="margin-bottom:1em;  font-size:9pt;">
        </div><div style="margin-bottom:1em; font-weight:bold;">Hier : </div><div style="margin-bottom:1em; font-size:9pt;">A 20h05, Keira vient de mettre au monde 3 bébés !<br/></div>        </div>
        <div style="clear:both;">&nbsp;</div>
        <div class="blocRounded" style="width:380px;">
            <img src="images/coupe.gif" alt="coupe" style="height:40px;"><br/>
            <h2>Eleveurs les mieux notés : </h2>
            <div style="font-size:9pt;">
            <div id="dixpremiersnotes"><div>1) <a href="#" onClick="javascript: pop('profil.php?joueur_id=192703',null,800,600); return false;" title="Voir son profil">WATCHOUT</a> (40923166 points)</div><div>2) <a href="#" onClick="javascript: pop('profil.php?joueur_id=46711',null,800,600); return false;" title="Voir son profil">nora08</a> (20586051 points)</div><div>3) <a href="#" onClick="javascript: pop('profil.php?joueur_id=135061',null,800,600); return false;" title="Voir son profil">kelinia</a> (19023810 points)</div><div>4) <a href="#" onClick="javascript: pop('profil.php?joueur_id=190146',null,800,600); return false;" title="Voir son profil">DGIDGIKA</a> (8589953 points)</div><div>5) <a href="#" onClick="javascript: pop('profil.php?joueur_id=79494',null,800,600); return false;" title="Voir son profil">LASARDINE</a> (6355020 points)</div><div>6) <a href="#" onClick="javascript: pop('profil.php?joueur_id=299483',null,800,600); return false;" title="Voir son profil">brigitte88150</a> (925670 points)</div><div>7) <a href="#" onClick="javascript: pop('profil.php?joueur_id=254457',null,800,600); return false;" title="Voir son profil">pom</a> (872476 points)</div><div>8) <a href="#" onClick="javascript: pop('profil.php?joueur_id=111025',null,800,600); return false;" title="Voir son profil">TEUF57</a> (670082 points)</div><div>9) <a href="#" onClick="javascript: pop('profil.php?joueur_id=73543',null,800,600); return false;" title="Voir son profil">wendyprincesse14</a> (534374 points)</div><div>10) <a href="#" onClick="javascript: pop('profil.php?joueur_id=313610',null,800,600); return false;" title="Voir son profil">sanee</a> (309243 points)</div></div><div id="lesautresnotes" style="display:none;"><div>11) <a href="#" onClick="javascript: pop('profil.php?joueur_id=2903',null,800,600); return false;" title="Voir son profil">kekete</a> (304868 points)</div><div>12) <a href="#" onClick="javascript: pop('profil.php?joueur_id=314849',null,800,600); return false;" title="Voir son profil">ric62</a> (199937 points)</div><div>13) <a href="#" onClick="javascript: pop('profil.php?joueur_id=12870',null,800,600); return false;" title="Voir son profil">aviso</a> (164684 points)</div><div>14) <a href="#" onClick="javascript: pop('profil.php?joueur_id=69715',null,800,600); return false;" title="Voir son profil">tribal86</a> (163751 points)</div><div>15) <a href="#" onClick="javascript: pop('profil.php?joueur_id=305981',null,800,600); return false;" title="Voir son profil">lolo44550</a> (157230 points)</div><div>16) <a href="#" onClick="javascript: pop('profil.php?joueur_id=172312',null,800,600); return false;" title="Voir son profil">lisac1995</a> (124019 points)</div><div>17) <a href="#" onClick="javascript: pop('profil.php?joueur_id=297798',null,800,600); return false;" title="Voir son profil">bender</a> (120922 points)</div><div>18) <a href="#" onClick="javascript: pop('profil.php?joueur_id=338023',null,800,600); return false;" title="Voir son profil">Brico</a> (119410 points)</div></div>            <br/>
            <a href="#" 
        onclick = '
                $("#lesautresnotes").show();
                return false;'
        >[Voir les 50 premiers]</a></div>
        </div>
        
        <div class="blocRounded" style="width:380px;">
        <img src="images/coupe.gif" alt="coupe" style="height:40px;" /><br/>
        <h2>Eleveurs les plus riches :</h2>
        <div style="font-size:9pt;">
        <div id="dixpremiers"><div>1) <a href="#" onClick="javascript: pop('profil.php?joueur_id=135061',null,800,600); return false;" title="Voir son profil">kelinia</a> (151395888 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>2) <a href="#" onClick="javascript: pop('profil.php?joueur_id=111025',null,800,600); return false;" title="Voir son profil">TEUF57</a> (39461380 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>3) <a href="#" onClick="javascript: pop('profil.php?joueur_id=190146',null,800,600); return false;" title="Voir son profil">DGIDGIKA</a> (28620840 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>4) <a href="#" onClick="javascript: pop('profil.php?joueur_id=192703',null,800,600); return false;" title="Voir son profil">WATCHOUT</a> (28572341 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>5) <a href="#" onClick="javascript: pop('profil.php?joueur_id=46711',null,800,600); return false;" title="Voir son profil">nora08</a> (11812332 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>6) <a href="#" onClick="javascript: pop('profil.php?joueur_id=299483',null,800,600); return false;" title="Voir son profil">brigitte88150</a> (11105287 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>7) <a href="#" onClick="javascript: pop('profil.php?joueur_id=337476',null,800,600); return false;" title="Voir son profil">dom</a> (7399160 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>8) <a href="#" onClick="javascript: pop('profil.php?joueur_id=79494',null,800,600); return false;" title="Voir son profil">LASARDINE</a> (7240059 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>9) <a href="#" onClick="javascript: pop('profil.php?joueur_id=19016',null,800,600); return false;" title="Voir son profil">sasalacomic</a> (4178921 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>10) <a href="#" onClick="javascript: pop('profil.php?joueur_id=26134',null,800,600); return false;" title="Voir son profil">Laredj</a> (4164084 <img src="images/piece.gif" class="img_piece" alt="" />)</div></div><div id="lesautres" style="display:none;"><div>11) <a href="#" onClick="javascript: pop('profil.php?joueur_id=203058',null,800,600); return false;" title="Voir son profil">victore</a> (2491489 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>12) <a href="#" onClick="javascript: pop('profil.php?joueur_id=258397',null,800,600); return false;" title="Voir son profil">MisterKev</a> (2438445 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>13) <a href="#" onClick="javascript: pop('profil.php?joueur_id=338023',null,800,600); return false;" title="Voir son profil">Brico</a> (2355069 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>14) <a href="#" onClick="javascript: pop('profil.php?joueur_id=116308',null,800,600); return false;" title="Voir son profil">Nini86</a> (2133760 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>15) <a href="#" onClick="javascript: pop('profil.php?joueur_id=75795',null,800,600); return false;" title="Voir son profil">Annabelle28</a> (2110502 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>16) <a href="#" onClick="javascript: pop('profil.php?joueur_id=73543',null,800,600); return false;" title="Voir son profil">wendyprincesse14</a> (2087592 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>17) <a href="#" onClick="javascript: pop('profil.php?joueur_id=24412',null,800,600); return false;" title="Voir son profil">Debo</a> (2048375 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>18) <a href="#" onClick="javascript: pop('profil.php?joueur_id=297798',null,800,600); return false;" title="Voir son profil">bender</a> (2023032 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>19) <a href="#" onClick="javascript: pop('profil.php?joueur_id=339117',null,800,600); return false;" title="Voir son profil">Snorky</a> (1871608 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>20) <a href="#" onClick="javascript: pop('profil.php?joueur_id=127060',null,800,600); return false;" title="Voir son profil">utoo</a> (1591942 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>21) <a href="#" onClick="javascript: pop('profil.php?joueur_id=166578',null,800,600); return false;" title="Voir son profil">melyzanne</a> (1426250 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>22) <a href="#" onClick="javascript: pop('profil.php?joueur_id=313610',null,800,600); return false;" title="Voir son profil">sanee</a> (1202231 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>23) <a href="#" onClick="javascript: pop('profil.php?joueur_id=314849',null,800,600); return false;" title="Voir son profil">ric62</a> (1045025 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>24) <a href="#" onClick="javascript: pop('profil.php?joueur_id=305981',null,800,600); return false;" title="Voir son profil">lolo44550</a> (1016645 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>25) <a href="#" onClick="javascript: pop('profil.php?joueur_id=314679',null,800,600); return false;" title="Voir son profil">VavouChoco</a> (993830 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>26) <a href="#" onClick="javascript: pop('profil.php?joueur_id=350233',null,800,600); return false;" title="Voir son profil">ARNAUD....</a> (964375 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>27) <a href="#" onClick="javascript: pop('profil.php?joueur_id=254457',null,800,600); return false;" title="Voir son profil">pom</a> (845033 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>28) <a href="#" onClick="javascript: pop('profil.php?joueur_id=315802',null,800,600); return false;" title="Voir son profil">toure224</a> (530020 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>29) <a href="#" onClick="javascript: pop('profil.php?joueur_id=352819',null,800,600); return false;" title="Voir son profil">manon6</a> (495516 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>30) <a href="#" onClick="javascript: pop('profil.php?joueur_id=340478',null,800,600); return false;" title="Voir son profil">ismael</a> (487164 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>31) <a href="#" onClick="javascript: pop('profil.php?joueur_id=172312',null,800,600); return false;" title="Voir son profil">lisac1995</a> (446536 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>32) <a href="#" onClick="javascript: pop('profil.php?joueur_id=22060',null,800,600); return false;" title="Voir son profil">chriss</a> (445853 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>33) <a href="#" onClick="javascript: pop('profil.php?joueur_id=69715',null,800,600); return false;" title="Voir son profil">tribal86</a> (385535 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>34) <a href="#" onClick="javascript: pop('profil.php?joueur_id=342397',null,800,600); return false;" title="Voir son profil">Arza</a> (341982 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>35) <a href="#" onClick="javascript: pop('profil.php?joueur_id=12870',null,800,600); return false;" title="Voir son profil">aviso</a> (246794 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>36) <a href="#" onClick="javascript: pop('profil.php?joueur_id=310947',null,800,600); return false;" title="Voir son profil">MllGwen</a> (166122 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>37) <a href="#" onClick="javascript: pop('profil.php?joueur_id=298054',null,800,600); return false;" title="Voir son profil">ginie</a> (161960 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>38) <a href="#" onClick="javascript: pop('profil.php?joueur_id=220126',null,800,600); return false;" title="Voir son profil">crazy_hamster</a> (117445 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>39) <a href="#" onClick="javascript: pop('profil.php?joueur_id=119404',null,800,600); return false;" title="Voir son profil">lilygreen</a> (111108 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>40) <a href="#" onClick="javascript: pop('profil.php?joueur_id=346109',null,800,600); return false;" title="Voir son profil">Backerei</a> (106027 <img src="images/piece.gif" class="img_piece" alt="" />)</div><div>41) <a href="#" onClick="javascript: pop('profil.php?joueur_id=347525',null,800,600); return false;" title="Voir son profil">pat</a> (104855 <img src="images/piece.gif" class="img_piece" alt="" />)</div></div>        <br/>
        <a href="#" 
        onclick = '
                $("#lesautres").show();
                return false;'
        >[Voir les 50 premiers]</a>
        </div>
        </div>
        <div style="clear:both;">&nbsp;</div>
        
        <div class="blocRounded" style="width:800px;">
        <h2>Aujourd'hui, c'est l'anniversaire de : </h2>
        <div style="font-size:9pt;">
                <br/>&nbsp;<br/>
        <a href="options.php?mode=m_profil">As-tu indiqué ta date de naissance ?</a>
        </div>
        </div>
        <div style="clear:both;">&nbsp;</div>
        
        <div class="blocRounded" style="width:800px;">
        <h2>Les joueurs VIP du mois de octobre : </h2>
        <div style="font-size:9pt;">
        <a href="#" onClick="javascript: pop('profil.php?joueur_id=190146',null,800,600); return false;" title="Voir son profil">DGIDGIKA</a> &middot; <a href="#" onClick="javascript: pop('profil.php?joueur_id=1371',null,800,600); return false;" title="Voir son profil">HamsterAcademy</a> &middot; <a href="#" onClick="javascript: pop('profil.php?joueur_id=312635',null,800,600); return false;" title="Voir son profil">Help</a> &middot; <a href="#" onClick="javascript: pop('profil.php?joueur_id=79494',null,800,600); return false;" title="Voir son profil">LASARDINE</a> &middot; <a href="#" onClick="javascript: pop('profil.php?joueur_id=47133',null,800,600); return false;" title="Voir son profil">psirvent</a> &middot; <a href="#" onClick="javascript: pop('profil.php?joueur_id=192703',null,800,600); return false;" title="Voir son profil">WATCHOUT</a> &middot;         <br/>&nbsp;<br/>
        <a href="options.php?mode=m_vip">Pour tout savoir sur le status VIP, clique-ici !</a>
        </div>
        </div>
        <div style="clear:both;">&nbsp;</div>
        
                <div class="blocRounded" style="width:800px;">
        <h2>Annuaire de Hamster Academy</h2>
        <a href="jeu.php?mode=m_annuaire">
        Cliquer ici pour accéder à l'annuaire de Hamster Academy        </a>
        </div>
        <div style="clear:both;">&nbsp;</div>
                
    
  </div>
    
  <div class="hamBlocColonne-bottom">
     <div class="hamBlocColonne-bottom-left"></div>
     <div class="hamBlocColonne-bottom-right"></div>
     <div class="hamBlocColonne-bottom-center"></div>        
  </div> 
  
  

</div>

