
<div style="width:940px;">

  <div class="hamBlocColonne-top">
     <div class="hamBlocColonne-top-left"></div>
     <div class="hamBlocColonne-top-right"></div>
     <div class="hamBlocColonne-top-center"></div>        
  </div>
    
  <div class="hamBlocColonne_full">
  
  <h2 align="center">Welcome in the Town Hall</h2>
    
    <div class="blocRounded" style="width:380px;">
    <h3>Family Book</h3>
    
    <div style="margin-bottom:1em; font-weight:bold;">Today:</div>
        <div style="margin-bottom:1em; font-size:9pt;">
        </div><div style="margin-bottom:1em; font-weight:bold;">Yesterday: </div><div style="margin-bottom:1em; font-size:9pt;"></div>
    </div>
    <div class="blocRounded" style="width:380px;">
    <h3>Book birth</h3>
    
    <div style="margin-bottom:1em; font-weight:bold;">Today:</div>
    <div style="margin-bottom:1em;  font-size:9pt;">
        </div><div style="margin-bottom:1em; font-weight:bold;">Yesterday: </div><div style="margin-bottom:1em; font-size:9pt;"></div>        </div>
        <div style="clear:both;">&nbsp;</div>
        <div class="blocRounded" style="width:380px;">
            <img src="images/coupe.gif" alt="coupe" style="height:40px;"><br/>
            <h2>Top rated breeders: </h2>
            <div style="font-size:9pt;">
            <div id="dixpremiersnotes"><div>1) <a href="#" onClick="javascript: pop('profil.php?joueur_id=316829',null,800,600); return false;" title="See her/his profil">JulyMary</a> (178574 points)</div></div>            <br/>
            <a href="#" 
        onclick = '
                $("#lesautresnotes").show();
                return false;'
        >[Show Top 50]</a></div>
        </div>
        
        <div class="blocRounded" style="width:380px;">
        <img src="images/coupe.gif" alt="coupe" style="height:40px;" /><br/>
        <h2>Richest breeders:</h2>
        <div style="font-size:9pt;">
        <div id="dixpremiers"><div>1) <a href="#" onClick="javascript: pop('profil.php?joueur_id=316829',null,800,600); return false;" title="See her/his profil">JulyMary</a> (2733150 <img src="images/piece.gif" class="img_piece" alt="" />)</div></div>        <br/>
        <a href="#" 
        onclick = '
                $("#lesautres").show();
                return false;'
        >[Show Top 50]</a>
        </div>
        </div>
        <div style="clear:both;">&nbsp;</div>
        
        <div class="blocRounded" style="width:800px;">
        <h2>Today is the birthday of : </h2>
        <div style="font-size:9pt;">
                <br/>&nbsp;<br/>
        <a href="options.php?mode=m_profil">Did you give your date of birth ?</a>
        </div>
        </div>
        <div style="clear:both;">&nbsp;</div>
        
        <div class="blocRounded" style="width:800px;">
        <h2>VIP players of the month of october : </h2>
        <div style="font-size:9pt;">
                <br/>&nbsp;<br/>
        <a href="options.php?mode=m_vip">To know everything about the VIP statut, click here</a>
        </div>
        </div>
        <div style="clear:both;">&nbsp;</div>
        
                
    
  </div>
    
  <div class="hamBlocColonne-bottom">
     <div class="hamBlocColonne-bottom-left"></div>
     <div class="hamBlocColonne-bottom-right"></div>
     <div class="hamBlocColonne-bottom-center"></div>        
  </div> 
  
  

</div>

