/*
HTTP Host: b.static.ak.fbcdn.net
Generated: July 26th 2010 12:21:05 AM PDT
Machine: 10.30.147.193
Locale: nu_ll
Path: css/9xiy040e2awo40w8.pkg.css
*/

#sidebar_ads{float:left;font-size:11px;padding:47px 0 0 17px;text-align:left}
.profile .profile_sidebar_ads #sidebar_ads{padding-top:14px}
#sidebar_ads .adcolumn_wrapper{border-left:1px solid #ccc;margin-bottom:20px;zoom:1}
#sidebar_ads .adcolumn{border-left:4px solid #e5e5e5;padding:0}
#sidebar_ads .adcolumn .adcolumn_header{padding:0 0 5px 10px}
#sidebar_ads .adcolumn .more_ads{border-top:1px solid #e5e5e5;display:block;margin:0;padding:5px 0 0 10px}
.DOMControl_placeholder{color:#777}
.no_js .DOMControl_placeholder{color:#000}
.DOMControl_shadow{position:absolute;left:-10000px;top:-10000px}
.DOMControl_autogrow{overflow:hidden}
body{background:#fff;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;color:#333;margin:0;padding:0;text-align:left;direction:ltr;unicode-bidi:embed}
.auto_resize_iframe{height:auto}
h1, h2, h3, h4, h5, h6{font-size:13px;color:#333;margin:0;padding:0}
h1{font-size:14px}
h4, h5{font-size:11px}
p{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;text-align:left;margin:1em 0}
a{cursor:pointer;color:#3b5998;-moz-outline-style:none;text-decoration:none}
a:hover{text-decoration:underline}
img{border:0}
select{border:1px solid #bdc7d8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;padding:2px}
td,
td.label{font-size:11px;text-align:left}
dd{color:#000}
dt{color:#777}
ul{list-style-type:none;margin:0;padding:0}
abbr{border-bottom:none}
.pipe{color:#808080;padding:0 3px}
.column{float:left}
.center{margin-left:auto;margin-right:auto}
#facebook .hidden_elem{display:none}
#facebook .invisible_elem{visibility:hidden}
#facebook .aural{width:0;height:0;display:block;margin-left:-5000px;overflow:hidden}
#content{width:auto;padding:0;margin:0}
.profile #content, .home #content, .search #content{min-height:600px}
.UIPage_LoggedOut .UIFullPage_Container{padding-top:26px}
.UIPage_LoggedOut .UIStandardFrame_Container{padding-top:26px}
.UIStandardFrame_Container{width:960px;padding:20px 0 0;margin:0 auto}
.UIStandardFrame_Content{width:760px;float:left;margin:0;padding:0}
.UIStandardFrame_SidebarAds{width:200px;padding:0;margin:0;float:right}
.UIFullPage_Container{width:940px;padding:22px 12px 0 12px;margin:0 auto}
.UIInterstitialContainer{margin:0 auto 0 auto;padding:22px 150px 50px 150px}
.UIPage_LoggedOut .UIInterstitialContainer{padding:34px 150px 50px 150px}
.empty_message{font-size:13px;line-height:17px;padding:20px 20px 50px 20px;text-align:center;background:#f7f7f7}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{display:block;zoom:1}
form{margin:0;padding:0}
label{cursor:pointer;color:#666;font-weight:bold;vertical-align:middle}
label input{font-weight:normal}
textarea,
.inputtext,
.inputpassword{border:1px solid #bdc7d8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;padding:3px}
.inputtext,
.inputpassword{margin:0;*margin:-1px 0;padding-bottom:4px}
.ff3.mac .inputtext,
.ff3.mac .inputpassword{padding-bottom:3px}
.inputradio{padding:0;margin:0 5px 0 0;vertical-align:middle}
.inputcheckbox{border:0;vertical-align:middle}
.inputbutton,
.inputsubmit{border-style:solid;border-width:1px;border-color:#d9dfea #0e1f5b #0e1f5b #d9dfea;background-color:#3b5998;color:#fff;padding:2px 15px 3px 15px;text-align:center;*width:1;*overflow:visible;*padding:2px 15px}
.inputsubmit_disabled{background-color:#999;border-bottom:1px solid #000;border-right:1px solid #666;color:#fff}
.inputaux{background:#f0f0f0;border-color:#e7e7e7 #666 #666 #e7e7e7;color:#000}
.inputaux_disabled{color:#999}
.inputsearch{background:#fff url(/rsrc.php/zA4IG/hash/cny9pytx.png) no-repeat left 4px;padding-left:17px}
.datawrap{word-wrap:break-word}
.word_break{display:block;float:left;float:none\9;*float:left;margin-left:-10px;padding:0}
.img_loading{position:absolute;left:-100000px;top:-100000px}
.two_column .right,
.two_column .left{float:left}
.no_padding{padding:0}
.see_all{text-align:right}
.standard_status_element{visibility:hidden}
.standard_status_element.async_saving{visibility:visible}
.clickable{cursor:pointer}
.aero{opacity:.5;filter:alpha(opacity=50)}
input.request_form_submit{background:#3B5998 url(/rsrc.php/zDIPV/hash/6s9bbe8i.gif) no-repeat 8px 6px;padding:3px 6px 3px 26px;*overflow:visible;*background-position:8px 5px;*padding:3px 6px 3px 30px}
img.tracking_pixel{height:1px;position:absolute;visibility:hidden;width:1px}
.fbsmid{display:none}
#dropmenu_container{display:block;height:0;margin:0 auto;padding:0;position:absolute;width:964px;z-index:105}
.direction_ltr{direction:ltr}
.direction_rtl{direction:rtl}
.text_align_ltr{text-align:left}
.text_align_rtl{text-align:right}
.transparent_png{_background-image:none;_display:inline;_zoom:1}
.invisible_png{_visibility:hidden}
.highlight, .inserted{_line-height:17px}
.pagerpro_container{float:right;margin:0 0 0 0;padding:3px 0 4px 0;width:200px}
.pagerpro{float:right}
.pagerpro .pagerpro_li{display:inline}
.pagerpro .pagerpro_a{padding:3px;padding-bottom:2px}
.pagerpro .pagerpro_a:hover{background-color:#3b5998;border-color:#d8dfea;border-bottom:1px solid #3b5998;color:#fff;text-decoration:none}
#facebook .profile .pagerpro .pagerpro_a:hover{color:#fff}
.pagerpro .current .pagerpro_a{border-color:#3b5998;border-bottom:2px solid #3b5998;color:#3b5998;font-weight:bold;padding-left:2px;padding-right:2px}
.pagerpro .current .pagerpro_a:hover{background-color:#3b5998;color:#fff}
.pagerpro .disabled{color:#999;cursor:default;background:transparent;border:none}
.footer_bar .pagerpro .pagerpro_a{border-top:2px solid white;padding-top:1px;padding-bottom:0}
.footer_bar .pagerpro .pagerpro_a:hover{border-bottom:2px solid #3b5998;border-top:2px solid #3b5998}
.footer_bar .pagerpro .current .pagerpro_a,
.footer_bar .pagerpro .current .pagerpro_a:hover{border-bottom-color:#fff;border-top:2px solid #3b5998}
.fbx #pageFooter{margin:auto;width:auto}
.hasLeftCol #pageFooter{background-color:#fff;clear:both;margin-left:180px}
#pagefooter{border-top:0}
#pageFooter{color:#737373;font-size:11px;margin:0 auto;width:980px}
#pageFooter a{text-decoration:none;white-space:nowrap}
#pageFooter a:last-child{margin-right:0}
#pageFooter a:hover{text-decoration:underline}
#contentCurve{background-color:#fff;border-bottom:1px solid #b3b3b3;height:8px;font-size:1px}
.hasLeftCol #contentCurve{border:1px solid #b3b3b3;border-top:none;position:relative;*position:static}
#footerContainer{border-top:1px solid #eee;margin-bottom:30px;padding:8px;position:relative}
.UIActionLinks_title{font-size:9px;font-weight:normal;white-space:nowrap;color:#999}
.has_body .UIActionLinks_title{display:none}
.log_mode .has_body .UIActionLinks_title{display:inline}
.UIActionLinks_bottom,
.UIActionLinks_left,
.UIActionLinks_right{color:#999}
.UIActionLinks_left{float:left}
.UIActionLinks_right{float:right}
.from_friend_story_content_container .UIActionLinks_bottom,
.has_body .UIActionLinks_bottom,
.story_body .UIActionLinks_bottom{clear:both;display:block}
.log_mode .UIActionLinks_bottom{display:none}
.tab_status_updates .UIActionLinks_title{font-size:11px}
.hideToggler{border:0;height:0;opacity:0;overflow:hidden;position:absolute;width:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity = 0)";*filter:alpha(opacity=0)}
.openToggler{z-index:100}
.UIProfileImage_LARGE{width:50px;height:50px}
.UIProfileImage_SMALL{width:32px;height:32px}
.UIProfileImage_TINY{width:25px;height:25px}
.contextual_dialog .generic_dialog_popup{width:360px;position:absolute}
.contextual_dialog .contextual_arrow,
.contextual_dialog .contextual_arrow_rev{background-image:url(/rsrc.php/z62FM/hash/6hlgd20w.gif);background-repeat:no-repeat;height:12px;position:relative;top:1px}
.contextual_dialog .contextual_arrow_rev{background-image:url(/rsrc.php/zCQR6/hash/9laiajue.gif)}
.contextual_dialog .contextual_arrow span,
.contextual_dialog .contextual_arrow_rev span{display:none}
.contextual_dialog .dialog_title{color:#000;font-size:11px;padding-bottom:2px}
.contextual_dialog .contextual_dialog_content{background-color:#f7f7f7;border:1px solid #b7b7b7;border-bottom:2px solid #3b5998;line-height:15px;padding:8px 10px 10px 10px}
.contextual_dialog .dialog_buttons{background-color:#f7f7f7;padding-top:10px}
.contextual_dialog .dialog_buttons input,
.contextual_dialog .dialog_buttons span{margin-right:10px}
.contextual_dialog .dialog_buttons .uiButton input,
.contextual_dialog .dialog_buttons label input{margin-right:0}
.contextual_dialog .dialog_buttons_msg{float:right}
.pop_container_advanced{background:rgba(82,82,82,0.7);padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px}
.pop_content_old{position:relative;*margin-left:-10px;*padding-left:10px}
.pop_container{direction:ltr;position:relative;_background:#868686;_padding:10px;_zoom:1}
.pop_topleft, .pop_topright, .pop_bottomleft, .pop_bottomright{height:10px;width:10px;overflow:hidden;position:absolute;_display:none}
.pop_topleft{background:url(/rsrc.php/zEYDZ/hash/4xk9rts8.png) no-repeat 0 0;left:-10px;top:-10px}
.pop_topright{background:url(/rsrc.php/zEYDZ/hash/4xk9rts8.png) no-repeat 0 -10px;right:-10px;top:-10px}
.pop_bottomleft{background:url(/rsrc.php/zEYDZ/hash/4xk9rts8.png) no-repeat 0 -20px;bottom:-10px;left:-10px}
.pop_bottomright{background:url(/rsrc.php/zEYDZ/hash/4xk9rts8.png) no-repeat 0 -30px;right:-10px;bottom:-10px}
.pop_verticalslab, .pop_horizontalslab{width:100%;height:100%;position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7;_display:none}
.pop_verticalslab{margin:-10px 0 0;*margin-left:10px;padding-bottom:20px}
.pop_horizontalslab{margin:0 0 0 -10px;*margin-left:0;padding-right:20px}
.generic_dialog{height:0;left:0;overflow:visible;position:absolute;top:0;width:100%;z-index:101}
#generic_dialog_iframe{filter:alpha(opacity=0);left:0;position:absolute;top:0;z-index:3}
.generic_dialog_popup{height:0;overflow:visible;position:relative;width:465px;margin:auto}
.generic_dialog div.dialog_loading{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:10px}
#generic_dialog_overlay{z-index:100;position:fixed;*position:absolute;top:0;height:100%;width:100%;filter:alpha(opacity=50);opacity:.5}
.dark_dialog_overlay{background-color:#747474}
.light_dialog_overlay{background-color:#fff}
.pop_content{direction:ltr}
.pop_dialog_rtl .pop_content{direction:rtl}
.pop_content h2.dialog_title{background:#6d84b4;border:1px solid #3b5998;border-bottom:none;color:#fff;font-size:14px;font-weight:bold;margin:0}
.pop_content h2.dialog_title .dialog_x{background:#6d84b4;float:right;margin-top:-1px;padding-left:1px}
.pop_content h2.secure{background:#6d84b4 url(/rsrc.php/z2NBJ/hash/7qz77h4o.png) 98% no-repeat}
.pop_content h2.loading{background:#6d84b4 url(/rsrc.php/z13JD/hash/16vt4yge.gif) 98% no-repeat}
.pop_content h2.dialog_loading{background:#6d84b4 url(/rsrc.php/z13JD/hash/16vt4yge.gif) no-repeat 400px 10px;padding-right:40px}
.pop_content h2 span{display:block;padding:5px 10px}
.pop_content .dialog_content{background:#fff;border:1px solid #555;border-top-width:0}
.pop_content .dialog_body{padding:10px;border-bottom:1px solid #ccc}
.omitDialogFooter .pop_content .dialog_body{border-bottom:0}
.pop_content .dialog_summary{background:#f2f2f2;padding:8px 10px;border-bottom:1px solid #ccc}
.pop_content .dialog_buttons{background:#f2f2f2;padding:8px 10px 8px 10px;position:relative;text-align:right}
.pop_content .dialog_buttons_msg{float:left;line-height:17px;padding-top:4px}
.pop_content .dialog_footer{background:#F2F2F2 none repeat scroll 0}
.full_bleed .pop_content .dialog_body{padding:0}
.UIImageBlock_Content{display:table-cell;_display:block;vertical-align:top;width:1000px;*width:auto;*zoom:1}
.UIImageBlock_Image{float:left;margin-right:5px}
.UIImageBlock_Image .img,
img.UIImageBlock_Image,
i.UIImageBlock_Image{display:block}
.UIImageBlock_Ext{float:right}
.UIImageBlock_ICON_Image{margin-right:5px}
.UIImageBlock_ICON_Content{padding-top:1px}
.UIImageBlock_SMALL_Image{margin-right:8px}
.UIImageBlock_MED_Image,
.UIImageBlock_ENT_Image{margin-right:10px}
.UIImageBlock_Entity .UIImageBlock_Content{height:50px;*height:auto;vertical-align:middle}
.UIImageBlock_Entity img.UIImageBlock_Image,
.UIImageBlock_Entity i.UIImageBlock_Image,
.UIImageBlock_Entity .UIImageBlock_Image .img{height:50px;width:50px}
.UIImageBlock_Entity .UIImageBlock_Ext{margin-top:14px;padding-left:8px}
.uiButton,
.uiButtonSuppressed:active,
.uiButtonSuppressed:focus,
.uiButtonSuppressed:hover{background:#eee url(/rsrc.php/zB50F/hash/6svdixne.png) repeat 0 0;border:1px solid #999;border-bottom-color:#888;box-shadow:0 1px 0 rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 0 rgba(0, 0, 0, .1);-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1);color:#333;cursor:pointer;display:-moz-inline-box;display:inline-block;font-size:11px;font-weight:bold;line-height:normal !important;padding:2px 6px;*padding:3px 6px 2px;*position:relative;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap}
.ff3.mac .uiButtonMedium{padding-bottom:1px}
.uiButton + .uiButton{margin-left:4px}
a.uiButtonMedium{*padding:3px 6px 4px}
.uiButton:hover{text-decoration:none}
.uiButton:active,
.uiButtonDepressed{background:#ddd;border-bottom-color:#999;box-shadow:0 1px 0 rgba(0, 0, 0, .05);-moz-box-shadow:0 1px 0 rgba(0, 0, 0, .05);-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .05)}
.uiButton .img{vertical-align:top}
.uiButtonMedium .img{margin-top:2px;*margin-top:1px;*margin-bottom:-2px}
.uiButtonLarge .img{margin-top:4px;*margin-top:5px}
.uiButton .customimg{margin-top:0;*margin-top:-1px}
.uiButton .uiButtonText,
.uiButton input{background:none;border:0;color:#333;cursor:pointer;display:-moz-inline-box;display:inline-block;font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;font-size:11px;font-weight:bold;margin:0;outline:none;*overflow:visible;padding:1px 0 2px;*padding:0;white-space:nowrap;_width:0}
.uiButton input::-moz-focus-inner{border:0;padding:0}
.uiButtonDepressed,
.uiButtonDepressed input{cursor:default}
.uiButtonSpecial{background-color:#69a74e;background-position:0 -96px;border-color:#3b6e22 #3b6e22 #2c5115;color:#fff}
.uiButtonSpecial:active{background:#609946;border-bottom-color:#3b6e22}
.uiButtonSpecial.uiButtonDisabled,
.uiButtonSpecial.uiButtonDisabled:active{background:#69a74e;border-bottom-color:#3b6e22}
.uiButtonConfirm{background-color:#5b74a8;background-position:0 -48px;border-color:#29447e #29447e #1a356e;color:#fff}
.uiButtonConfirm:active{background:#4f6aa3;border-bottom-color:#29447e}
.uiButtonConfirm.uiButtonDisabled,
.uiButtonConfirm.uiButtonDisabled:active{background:#5b74a8;border-bottom-color:#29447e}
.uiButtonSpecial .uiButtonText,
.uiButtonConfirm .uiButtonText,
.uiButtonSpecial input,
.uiButtonConfirm input{color:#fff}
.uiButtonDisabled,
.uiButtonDisabled:active,
.uiButtonDisabled .img{background:#f2f2f2;cursor:default;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity = 50)";filter:alpha(opacity = 50);opacity:.5;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.uiButtonDisabled input{cursor:default}
.uiButtonDefault.uiButtonDisabled,
.uiButtonDefault.uiButtonDisabled:active{border-color:#c8c8c8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity = 100)";filter:alpha(opacity = 100);opacity:1}
.uiButtonDefault.uiButtonDisabled input,
a.uiButtonDisabled .uiButtonText{color:#b8b8b8}
.uiButtonLarge,
.uiButtonLarge .uiButtonText,
.uiButtonLarge input{font-size:13px}
.uiButtonLarge{padding:2px 6px;*padding:1px 6px 2px}
a.uiButtonLarge{*padding:3px 6px 4px}
.uiButtonSuppressed{background:none;border-color:transparent;_border-color:#fff;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.uiButtonSuppressed:active,
.uiButtonSuppressed:focus,
.uiButtonSuppressed:hover{*padding-bottom:4px}
.uiButtonNoText .img{margin-left:-1px;margin-right:-1px}
.uiCloseButton{cursor:pointer;display:inline-block;margin:0;overflow:hidden;padding:0}
.uiCloseButton input{cursor:pointer;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=1)";filter:alpha(opacity=1);opacity:.01;outline:none;padding:18px}
.uiCloseButton{background-image:url(/rsrc.php/zGGUU/hash/2vqvudx3.png);_background-image:url(/rsrc.php/zBSOZ/hash/3vj7xx8u.gif);height:15px;width:15px}
.uiCloseButtonSmall{background-image:url(/rsrc.php/zDWS5/hash/cjfhe7lm.png);_background-image:url(/rsrc.php/z8E04/hash/1r7dgoc3.gif);height:11px;width:11px}
.uiCloseButtonSmallDeprecated{background-image:url(/rsrc.php/z4W74/hash/9zv3okv2.gif)}
.uiCloseButtonDark{background-position:left -15px}
.uiCloseButton:hover,
.uiCloseButton:focus{background-position:left -30px}
.uiCloseButton:active{background-position:left -45px}
.uiCloseButtonSmallDark{background-position:left -11px}
.uiCloseButtonSmall:hover,
.uiCloseButtonSmall:focus{background-position:left -22px}
.uiCloseButtonSmall:active{background-position:left -33px}
.uiCloseButton.UIImageBlock_Ext,
.uiCloseButton.rfloat,
.uiCloseButton.lfloat{margin-top:1px}
.gray_box{background-color:#f2f2f2;border:1px solid #ccc}
.white_box{background-color:#fff;border:1px solid #ccc}
.lightblue_box{background-color:#edeff4;border:1px solid #d8dfea}
.red_box{background-color:#ffebe8;border:1px solid #dd3c10}
.yellow_box{background-color:#fff9d7;border:1px solid #e2c822}
.noborder{border:none}
.topborder{border-bottom:none;border-left:none;border-right:none}
.bottomborder{border-left:none;border-right:none;border-top:none}
i.img{_overflow:hidden}
.ff2 i.img{display:-moz-inline-stack;vertical-align:top}
.lfloat{float:left}
.rfloat{float:right}
.uiLinkSubtle{color:#808080}
.uiListItem{display:block}
.uiListHorizontalItem{float:left}
.uiListLight,
.uiListMedium,
.uiListDark{border-style:solid}
.uiListHorizontalItemBorder{border-width:0 0 0 1px}
.uiListVerticalItemBorder{border-width:1px 0 0 0}
.uiListItem:first-child{border:0}
.uiListLight{border-color:#e9e9e9}
.uiListMedium{border-color:#ccc}
.uiListDark{border-color:#aaa}
.uiListBulleted{color:#3b5998;list-style-type:square;margin-left:12px}
.uiListBulleted span{color:#333}
.pas{padding:5px}
.pam{padding:10px}
.pal{padding:20px}
.pts{padding-top:5px}
.ptm{padding-top:10px}
.ptl{padding-top:20px}
.prs{padding-right:5px}
.prm{padding-right:10px}
.prl{padding-right:20px}
.pbs{padding-bottom:5px}
.pbm{padding-bottom:10px}
.pbl{padding-bottom:20px}
.pls{padding-left:5px}
.plm{padding-left:10px}
.pll{padding-left:20px}
.phs{padding-left:5px;padding-right:5px}
.phm{padding-left:10px;padding-right:10px}
.phl{padding-left:20px;padding-right:20px}
.pvs{padding-top:5px;padding-bottom:5px}
.pvm{padding-top:10px;padding-bottom:10px}
.pvl{padding-top:20px;padding-bottom:20px}
.mas{margin:5px}
.mam{margin:10px}
.mal{margin:20px}
.mts{margin-top:5px}
.mtm{margin-top:10px}
.mtl{margin-top:20px}
.mrs{margin-right:5px}
.mrm{margin-right:10px}
.mrl{margin-right:20px}
.mbs{margin-bottom:5px}
.mbm{margin-bottom:10px}
.mbl{margin-bottom:20px}
.mls{margin-left:5px}
.mlm{margin-left:10px}
.mll{margin-left:20px}
.mhs{margin-left:5px;margin-right:5px}
.mhm{margin-left:10px;margin-right:10px}
.mhl{margin-left:20px;margin-right:20px}
.mvs{margin-top:5px;margin-bottom:5px}
.mvm{margin-top:10px;margin-bottom:10px}
.mvl{margin-top:20px;margin-bottom:20px}
.uiTextTitle{color:#333;font-size:13px;font-weight:bold}
.uiTextSubtitle{color:#808080;font-size:11px}
.uiTextMetadata{color:#808080;font-size:9px}
.uiTextTitle,
.uiTextSubtitle{line-height:14px}
.uiTextHighlight{background:#fff8cc;border-bottom:1px solid #ffe222;padding:0 0 1px 0}
.fss{font-size:9px}
.fsm{font-size:11px}
.fsl{font-size:13px}
.fsxl{font-size:16px}
.fsxxl{font-size:18px}
.fwn{font-weight:normal}
.fwb{font-weight:bold}
.fcb{color:#333}
.fcg{color:#808080}
.uiTextareaNoResize{resize:none}
.uiTextareaAutogrow{overflow:hidden}
.uiHeader h2{color:#1c2a47;font-size:16px}
.uiHeader h2 a{color:#1c2a47}
.uiHeader h3{color:#333;font-size:13px}
.uiHeader h4{color:#333;font-size:11px}
.uiHeader h5{color:#666;font-size:11px}
.uiHeaderWithImage .uiHeaderTop{position:relative}
.uiHeaderWithImage .uiHeaderTitle{padding-left:22px}
.uiHeaderImage{left:0;position:absolute}
.uiHeader h2 .uiHeaderImage{top:2px}
.uiHeaderTopBorder{border-top:1px solid #aaa;padding-top:.5em}
.uiHeaderTopAndBottomBorder{border-bottom:1px solid #e9e9e9;border-top:1px solid #aaa;padding:.5em 0}
.uiHeaderMiddleBorder{border-bottom:1px solid #ccc;height:.8em;margin:.5em 0 1.5em 0;position:relative}
.uiHeaderMiddleBorder .uiHeaderTitle,
.uiHeaderMiddleBorder .uiHeaderActions{background-color:#fff;position:absolute;top:0}
.uiHeaderMiddleBorder .uiHeaderTitle{left:0;padding-right:.5em}
.uiHeaderMiddleBorder .uiHeaderActions{padding-left:.5em;right:0}
.uiHeaderMiddleBorder .uiButton{margin-top:-2px}
.uiHeaderBottomBorder{border-bottom:1px solid #aaa;padding-bottom:.5em}
.uiHeaderPage{padding:6px 0 16px}
.uiHeaderPage .uiHeaderTitle{_height:20px;line-height:20px;*line-height:18px;min-height:20px;padding-bottom:2px;vertical-align:bottom}
.uiHeaderPage .uiHeaderActions{*line-height:normal;margin-top:-1px;*margin-top:0;*position:relative;*bottom:1px}
.uiHeaderPage .uiHeaderTop .uiTextTitle, 
.uiHeaderPage .uiHeaderTop .fsl{margin-top:3px}
.uiHeaderNav{border-color:#eee;margin:7px 0 0 6px;padding:8px 6px 3px 0}
.uiHeaderNavEmpty{*height:8px;padding-top:6px;*padding:0}
.uiHeaderNav h4{color:#808080}
.uiProfilePhotoLarge{width:50px;height:50px}
.uiProfilePhotoMedium{width:32px;height:32px}
.uiProfilePhotoSmall{width:24px;height:24px}

#bootloader_css_9xiy040e2awo40w8_pkg_css { height: 42px; }