/**
 * Design elements for incognitek template - based on default Template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Anika Henke <henke@cosmocode.de>
 * @author Daniel Sperl <redge@incognitek.com>
 */

/* -------------- general elements --------------- */

/* the document */

div.dokuwiki table {
  font-size: 100%;
}

div.dokuwiki tr,
div.dokuwiki td,
div.dokuwiki th {
}

div.dokuwiki img {
  border: 0;
}

div.dokuwiki p,
div.dokuwiki blockquote,
div.dokuwiki table,
div.dokuwiki pre {
  margin: 0.6em 0 0.6em 0;
}

div.dokuwiki p {
  text-align: left;
  font-size: 13px;
  line-height: 1.4em;
}

div.dokuwiki hr {
  border: 0px;
  border-top: 1px solid __border__;
  text-align: center;
  height: 0px;
}

div.dokuwiki div.nothing {
  text-align: center;
  margin: 2em;
}

/* ---------------- forms ------------------------ */

div.dokuwiki form {
  border: none;
  display: inline;
}

div.dokuwiki label.block {
  display: block;
  text-align: right;
  font-weight: bold;
}

div.dokuwiki label.simple {
  display: block;
  text-align: left;
  font-weight: normal;
}

div.dokuwiki label.block input.edit {
  width: 50%;
}

div.dokuwiki fieldset {
  width: 300px;
  text-align: center;
  border: 1px solid __border__;
  padding: 0.5em;
  margin: 1em auto 1em auto;
}

div.dokuwiki fieldset legend {
  color: __text__;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

div.dokuwiki textarea.edit {
  font-family: monospace;
  font-size: 100%;
  color: __text__;
  background-color: __background__;
  border: 1px solid __border__;
  padding: 0.3em 0 0 0.3em;
  width: 100%;
}

div.dokuwiki input.edit,
div.dokuwiki select.edit {
  font-size: 100%;
  border: 1px solid __border__;
  color: __text__;
  background-color: __background__;
  vertical-align: middle;
  margin: 1px;
  padding: 0.20em 0.3em;
  display: inline;
}

div.dokuwiki select.edit {
  padding: 0.1em 0;
}

div.dokuwiki input.missing {
  font-size: 100%;
  border: 1px solid __border__;
  color: __text__;
  background-color: #ffcccc;
  vertical-align: middle;
  margin: 1px;
  padding: 0.20em 0.3em;
  display: inline;
}

/* disabled style - not understood by IE */
div.dokuwiki textarea.edit[disabled],
div.dokuwiki textarea.edit[readonly],
div.dokuwiki input.edit[disabled],
div.dokuwiki input.edit[readonly],
div.dokuwiki select.edit[disabled] {
  background-color: __background_neu__!important;
  color: __text_neu__!important;
}

/* edit form */
div.dokuwiki div.toolbar,
div.dokuwiki div#wiki__editbar {
   margin: 2px 0;
   text-align: left;
}
div.dokuwiki div#size__ctl {
   float: right;
   width: 60px;
   height: 2.7em;
}
div.dokuwiki #size__ctl img {
   cursor: pointer;
}
div.dokuwiki div#wiki__editbar div.editButtons {
   float: left;
   padding: 0 1.0em 0.7em 0;
}
div.dokuwiki div#wiki__editbar div.summary {
   float: left;
}
div.dokuwiki .nowrap {
   white-space: nowrap;
}
div.dokuwiki div#draft__status {
  color: __text__;
}

/* --------- buttons ------------------- */

div.secedit {
  text-align: right;
}

div.secedit input.button {
  font-size: 80%;
  margin-top: 0px;
}

/* ----------- page navigator ------------- */

div.dokuwiki div.pagenav {
    margin: 1em 0 0 0;
}

div.dokuwiki div.pagenav-prev {
    text-align: right;
    float: left;
    width: 49%
}

div.dokuwiki div.pagenav-next {
    text-align: left;
    float: right;
    width: 49%
}

/* --------------- Links ------------------ */

div.dokuwiki a:link,
div.dokuwiki a:visited {
  color: __extern__;
  text-decoration: none;
}
div.dokuwiki a:hover,
div.dokuwiki a:active {
  color: __extern__;
  text-decoration: underline;
}

div.dokuwiki h1 a,
div.dokuwiki h2 a,
div.dokuwiki h3 a,
div.dokuwiki h4 a,
div.dokuwiki h5 a,
div.dokuwiki a.nolink {
  color: __text__ !important;
  text-decoration: none !important;
}

/* external link */
div.dokuwiki a.urlextern {
  background: transparent url(images/link_icon.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

/* windows share */
div.dokuwiki a.windows {
  background: transparent url(images/windows.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

/* interwiki link (icon are set by dokuwiki) */
div.dokuwiki a.interwiki {
}

/* link to some embedded media */
div.dokuwiki a.media {
}

div.dokuwiki a.urlextern:link,
div.dokuwiki a.windows:link,
div.dokuwiki a.interwiki:link {
  color: __extern__;
}

div.dokuwiki a.urlextern:visited,
div.dokuwiki a.windows:visited,
div.dokuwiki a.interwiki:visited {
  color: __extern__;
}
div.dokuwiki a.urlextern:hover,
div.dokuwiki a.urlextern:active,
div.dokuwiki a.windows:hover,
div.dokuwiki a.windows:active,
div.dokuwiki a.interwiki:hover,
div.dokuwiki a.interwiki:active {
  color: __extern__;
}

/* email link */
div.dokuwiki a.mail {
  background: transparent url(images/mail_icon.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

/* existing wikipage */
div.dokuwiki a.wikilink1 {
  color: __existing__ !important;
}

/* not existing wikipage */
div.dokuwiki a.wikilink2 {
  color: __missing__ !important;
}

/* ------------- Page elements ----------------- */

div.dokuwiki div.preview {
  background-color: __background_neu__;
  margin: 0 0 0 2em;
  padding: 4px;
  border: 1px dashed __text__;
}

div.dokuwiki div.breadcrumbs {
  background-color: __background_neu__;
  color: __text_neu__;
  font-size: 80%;
  padding: 0 0 0 4px;
}

div.dokuwiki span.user {
  color: __text_other__;
  font-size: 90%;
}

div.dokuwiki li.minor {
  color: __text_neu__;
  font-style: italic;
}

/* embedded images */
div.dokuwiki img.media {
  margin: 5px;
}

div.dokuwiki img.medialeft {
  border: 0;
  float: left;
  margin: 0 1.5em 0 0;
}

div.dokuwiki img.mediaright {
  border: 0;
  float: right;
  margin: 0 0 0 1.5em;
}

div.dokuwiki img.mediacenter {
  border: 0;
  display: block;
  margin: 1.5em auto;
}

/* smileys */
div.dokuwiki img.middle {
  vertical-align: middle;
}

div.dokuwiki acronym {
  cursor: help;
  border-bottom: 1px dotted __text__;
}

/* general headline setup */
div.dokuwiki h1,
div.dokuwiki h2,
div.dokuwiki h3,
div.dokuwiki h4,
div.dokuwiki h5 {
    color: __text__;
    font-size: 100%;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
    padding: 2px 0 0 0;
    border-bottom: 1px solid __border__;
    clear: left;
}

/* special headlines */
div.dokuwiki h1 {font-size: 200%; margin-left: 0px; }
div.dokuwiki h2 {font-size: 160%; margin-left: 0px; }
div.dokuwiki h3 {font-size: 130%; margin-left: 0px; border-bottom: none; }
div.dokuwiki h4 {font-size: 100%; margin-left: 0px; border-bottom: none; }
div.dokuwiki h5 {font-size: 100%; margin-left: 0px; border-bottom: none; font-weight: normal;}

/* indent different sections */
div.dokuwiki div.level1 {margin-left: 0px;}
div.dokuwiki div.level2 {margin-left: 0px;}
div.dokuwiki div.level3 {margin-left: 0px;}
div.dokuwiki div.level4 {margin-left: 0px;}
div.dokuwiki div.level5 {margin-left: 0px;}

/* the list items overriding the ul/ol definition */
div.dokuwiki .li {
  color: __text__;
  font-weight: normal;
}

div.dokuwiki ol {list-style-type: decimal}
div.dokuwiki ol ol {list-style-type: upper-roman}
div.dokuwiki ol ol ol {list-style-type: lower-alpha}
div.dokuwiki ol ol ol ol {list-style-type: lower-greek}

div.dokuwiki li.open {
  list-style-image: url(images/open.gif);
    /*list-style-type: circle;*/
}

div.dokuwiki li.closed {
  list-style-image: url(images/closed.gif);
    /*list-style-type: disc;*/
}

div.dokuwiki blockquote {
  border-left: 2px solid __border__;
  padding-left: 3px;
}

div.dokuwiki pre {
  font-size: 100%;
  padding: 0.5em;
  border: 1px dashed __border__;
  color: __text__;
  overflow: auto;
}

/* code blocks by indention */
div.dokuwiki pre.pre {
  background-color: __background_other__;
}

/* code blocks by code tag */
div.dokuwiki pre.code {
  background-color: __background_other__;
}

/* inline code words */
div.dokuwiki code {
  font-family: monospace;
}

/* code blocks by file tag */
div.dokuwiki pre.file {
  background-color: __background_alt__;
}

/* inline tables */
div.dokuwiki table.inline {
  background-color: __background__;
  border-spacing: 0px;
  border-collapse: collapse;
}

div.dokuwiki table.inline th {
  padding: 3px;
  border: 1px solid __border__;
  background-color: __background_alt__;
}

div.dokuwiki table.inline td {
  padding: 3px;
  border: 1px solid __border__;
}

/* ---------- table of contents ------------------- */

div.dokuwiki div.toc {
  margin: 1.2em 0 0 2em;
  float: right;
  width: 200px;
  font-size: 80%;
  clear: both;
}

div.dokuwiki div.tocheader {
  border: 1px solid __border__;
  background-color: __background_alt__;
  text-align: left;
  font-weight: bold;
  padding: 3px;
  margin-bottom: 2px;
}

div.dokuwiki span.toc_open,
div.dokuwiki span.toc_close {
    border: 0.4em solid __background_alt__;
    float: right;
    display: block;
    margin: 0.4em 3px 0 0;
}

div.dokuwiki span.toc_open span,
div.dokuwiki span.toc_close span {
    display: none;
}

div.dokuwiki span.toc_open {
    margin-top: 0.4em;
    border-top: 0.4em solid __text__;
}

div.dokuwiki span.toc_close {
    margin-top: 0;
    border-bottom: 0.4em solid __text__;
}

div.dokuwiki #toc__inside {
  border: 1px solid __border__;
  background-color: __background__;
  text-align: left;
  padding: 0.5em 0 0.7em 0;
}

div.dokuwiki ul.toc {
  list-style-type: none;
  list-style-image: none;
  line-height: 1.2em;
  padding-left: 1em;
  margin: 0;
}

div.dokuwiki ul.toc li {
  background: transparent url(images/tocdot2.gif) 0 0.6em no-repeat;
  padding-left: 0.4em;
}

div.dokuwiki ul.toc li.clear {
  background-image: none;
  padding-left: 0.4em;
}

div.dokuwiki a.toc:link,
div.dokuwiki a.toc:visited {
  color: __extern__;
}

div.dokuwiki a.toc:hover,
div.dokuwiki a.toc:active {
  color: __text__;
}

/* ---------------------------- Diff rendering --------------------------*/
div.dokuwiki table.diff {
  background-color: __background__;
  width: 100%;
}
div.dokuwiki td.diff-blockheader {
  font-weight: bold;
}
div.dokuwiki table.diff th {
  border-bottom: 1px solid __border__;
  font-size: 120%;
  width: 50%;
  font-weight: normal;
  text-align: left;
}
div.dokuwiki table.diff td {
  font-family: monospace;
  font-size: 100%;
}
div.dokuwiki td.diff-addedline {
  background-color: #ddffdd;
}
div.dokuwiki td.diff-deletedline {
    background-color: #ffffbb;
}
div.dokuwiki td.diff-context {
    background-color: __background_neu__;
}
div.dokuwiki table.diff td.diff-addedline strong,
div.dokuwiki table.diff td.diff-deletedline strong {
    color: red;
}

/* --------------------- footnotes -------------------------------- */

div.dokuwiki div.footnotes {
  clear: both;
  border-top: 1px solid __border__;
  padding-left: 1em;
  margin-top: 1em;
}

div.dokuwiki div.fn {
  font-size: 90%;
}

div.dokuwiki a.fn_top {  
  font-size: 80%;
}

div.dokuwiki a.fn_bot {
  font-size: 80%;
  font-weight: bold;
}

/* insitu-footnotes */
div.insitu-footnote {
  font-size: 80%;
  line-height: 1.2em;
  border: 1px solid __border__;
  background-color: __background_other__;
  background-image: none;
  text-align: left;
  padding: 4px;
  max-width: 40%;    /* IE's width is handled in javascript */
}

/* overcome IE issue with one line code or file boxes which require h. scrolling */
* html .insitu-footnote pre.code,
* html .insitu-footnote pre.file {
  padding-bottom: 18px;
}

/* --------------- search result formating --------------- */
div.dokuwiki .search_result {
  margin-bottom: 6px;
  padding: 0 10px 0 30px;
}

div.dokuwiki .search_snippet {
  color: __text_other__;
  font-size: 12px;
  margin-left: 20px;
}

div.dokuwiki .search_sep {
  color: __text__;
}

div.dokuwiki .search_hit {
  color: __text__;
  background-color: __highlight__;
}
div.dokuwiki strong.search_hit {
  font-weight: normal;
}

div.dokuwiki div.search_quickresult {
  margin: 0 0 15px 30px;
  padding: 0 10px 10px 0;
  border-bottom: 1px dashed __border__;
}
div.dokuwiki div.search_quickresult h3 {
  margin: 0 0 1.0em 0;
  font-size: 1em;
  font-weight: bold;
}

div.dokuwiki ul.search_quickhits {
  margin: 0 0 0.5em 1.0em;
}

div.dokuwiki ul.search_quickhits li {
  margin: 0 1.0em 0 1.0em;
  float:left;
  width: 30%;
}

/* ------------------ Additional ---------------------- */

div.footerinc {
    text-align: center;
    margin-bottom: 5px;
}

.footerinc a img {
    opacity: 0.6;
}

.footerinc a:hover img {
    opacity: 1;
}

/* ---------- AJAX quicksearch ----------- */

div.dokuwiki div.ajax_qsearch {
  position: absolute;
  right: 237px;;
  width: 200px;
  opacity: 0.9;
  display: none;
  font-size: 80%;
  line-height: 1.2em;
  border: 1px solid __border__;
  background-color: __background_other__;
  text-align: left;
  padding: 4px;
}

/* --------- Toolbar -------------------- */

button.toolbutton {
	padding-top: 2px;
	margin-right: 2px;
}

div.picker {
  width: 250px;
  border: 1px solid __border__;
  background-color: __background_alt__;
}

button.pickerbutton {
  padding: 0px;
  margin: 0 1px 1px 0;
  border: 0;
  background-color: transparent;
  font-size: 80%;
  cursor: pointer;
}

/* ---------- Spellchecking ------------- */

div.dokuwiki a.spell_error {
  color: #f00;
  text-decoration: underline;
}

div.dokuwiki div#spell__suggest {
  background-color: __background__;
  padding: 2px;
  border: 1px solid __text__;
  font-size: 80%;
  display: none;
}

div.dokuwiki div#spell__result {
  border: 1px solid __border__;
  color: __text__;
  font-size: 14px;
  padding: 3px;
  background-color: __background_other__;
  display: none;
}

div.dokuwiki span.spell_noerr {
  color: #093;
}

div.dokuwiki span.spell_wait {
  color: #06c;
}

/* ---------------  Image Details  ----------------- */

div.dokuwiki div.img_big {
  float: left;
  margin-right: 0.5em;
}

div.dokuwiki dl.img_tags dt {
  font-weight: bold;
  background-color: __background_alt__;
}
div.dokuwiki dl.img_tags dd {
  background-color: __background_neu__;
}

div.dokuwiki div.imagemeta {
  color: __text_neu__;
  font-size: 70%;
  line-height: 95%;
}

div.dokuwiki div.imagemeta img.thumb {
  float:left;
  margin-right: 0.1em;
}

