/*CSS fluid OR liquid transparent nested cornflex corners*/
.cornflex {
	position:relative;
    float:left;
    text-align:left;
}
.cornflex .t,
.cornflex .r,
.cornflex .b,
.cornflex .l {
	background-color:transparent;
	background-repeat: no-repeat;
	/*behavior: url(http://www.twinhelix.com/css/iepngfix/demo/iepngfix.htc); /* IEPNGFix: http://www.twinhelix.com/css/iepngfix/demo */
}
.cornflex .r,
.cornflex .b,
.cornflex .l {
	position:absolute;
}
.cornflex .r,
.cornflex .b {
	right:0;
}
.cornflex .b,
.cornflex .l {
	bottom:0;
}
.cornflex .c {
	z-index: 1;
	overflow:hidden;
}
.cornflex .r {
	top:0;
}
.cornflex .l {
	left:0;
}

/*
Specific IE6 rules
*/
* html .cornflex {
	height:1%; /*according: to http://www.positioniseverything.net/abs_relbugs.html*/
}
* html .cornflex .t,
* html .cornflex .r,
* html .cornflex .b,
* html .cornflex .l {
	font-size:0.1em; /*pour qu'IE n'affiche pas une hauteur minimum*/
}
* html .cornflex .t {
	width:100%; /*pour IE*/
	/*float:left;*/
}
* html .cornflex .c {
	font-size:10em; /*pour contrer font-size:0*/
}

/*
Child selector (>) replacement:
Takes up and "undos" all rules to come in rd-Rpx_RRGGBB_%%%_Ypx.css stylesheets for indirect descendants
  -> inspired from http://meyerweb.com/eric/thoughts/2005/05/31/universal-child-replacement
*/
.cornflex * { padding:0; } 
.cornflex * .t { background-image:none; }
.cornflex .t * .c { position:static; }
.cornflex * .r, .cornflex * .b { width:auto; }
.cornflex * .r {	bottom:auto;	background-image:none; }
.cornflex. * .b, .cornflex * .l { height:auto; }
.cornflex * .b {	background-image:none; }
.cornflex * .l {	right:auto; background-image:none; }
* html .cornflex * .l { width:auto; }
* html .cornflex * r {	height:auto; }

.cornflex.yellowbox {
    padding:0 38px 44px 0;
}
.cornflex.yellowbox .t {
    background-image:url(../images/cadres/yellowbox_t.png);
    /*background-color:yellow;*/
}
.cornflex.yellowbox .t .c {
    position:relative;
    top:10px;
    left:10px;
    padding-top:12px;
    padding-left:18px;
}
.cornflex.yellowbox .r,
.cornflex.yellowbox .b {
    width:38px;
}
.cornflex.yellowbox .b,
.cornflex.yellowbox .l {
    height:44px;
}
.cornflex.yellowbox .r {
    bottom:44px;
    background-image:url(../images/cadres/yellowbox_r.png);
}
.cornflex.yellowbox .b {
    background-image:url(../images/cadres/yellowbox_b.png);
}
.cornflex.yellowbox .l {
    right:38px;
    background-image:url(../images/cadres/yellowbox_l.png);
}

* html .cornflex.yellowbox .l {
    width:expression(this.parentNode.offsetWidth - 38 + 'px');
}
* html .cornflex.yellowbox .r {
    height:expression(this.parentNode.offsetHeight - 44 + 'px');
}
