@charset "UTF-8";
body.fan_widget{background:transparent}
.fan_box .connections, .full_widget, .connect_top{
background:transparent !important;
border:none !important;
}
.profileimage{
border:1px solid #461600 !important;
padding:5px !important;
margin:0 5px 0 0 !important;
text-align:center !important;
background-color:#fff !important;
}