
html, body {
  background: #faa32f url(../images/fond-page-eleveur.gif) top center no-repeat;
  margin:auto;
  margin-bottom:10px;
  padding:0px;
  color: #4d454e;
  font-family: arial,serif;
  text-align:center;
  
}

.mainPageUnderMenu {
    float:left;
    width:100%;
    max-width:940px;
    border: 0px solid red;
    padding:10px 20px 0px 20px;
    margin-bottom:20px;
    background: #faa32f url(../images/fond-eleveur-centre.gif) top repeat-x;
    font-size: 80%;
} 

.mariageBlocPrincipal {

    float:left;
    width:700px;
    text-align:left;
    
    padding-bottom:20px;
    
}

.mariageBlocUnMariage {

    float:left;
    width:700px;
    text-align:left;
    padding-bottom:0px;
}

.mariageColonneUnMariage {

    float:left;
    text-align:center;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
}


.mariageBulletin {
    background-color:#FEE570;
    width:700px;
    padding:0;
    margin:10px 0 10px 0;
}

.actionCage {
    vertical-align:middle;
    margin-bottom:10px;
}

.actionCage .icone {
    float:left;
    width:40px;
}

.actionCage .assemblage {
    width:40px;
    vertical-align:middle;
}

.topbar {
    /* background: #FED456 url(../images/index/bartop_background3.png) repeat-x scroll 0 0; */
}


.imageDansLeCoinGauche {
    float:none;   
    top:68px;
    margin-left: auto; 
    margin-right: auto;
    height: 210px; 
    position:absolute;
    width: 153px;
    left:70px;
    z-index: 0;
    background-image: url(../images/palmier_back.gif);
    background-repeat: no-repeat;
}


.barresNiveauxVert {
    background:rgb(0,128,0);
}

.barresNiveauxOrange {
    background:rgb(250,165,0);
}