
.groupe_description {

}

.groupe_titre {
	font-size:large;
	margin-bottom:10px;
}

.groupe_liste_membres{
	float:left;
	border:0px solid blue;
	margin-top:10px;
}

.groupe_description_titre {
	font-size:normal;
	font-weight: bold ;
	margin-top:10px;
}

.groupe_description_bloc {
	font-size:normal;
	padding-left:20px;
	margin-top:10px;
}

.groupe_description_membre {
	border:0px solid red;
	float:left;
	margin-right:50px;
	margin-top:20px;
	text-align:center;
	height:250px;
    width:130px;
    font-size:9pt;
}

.groupe_specialite_membre {
	margin-top : 10px;
}

.groupe_champs_description{
	border: 0px solid grey;
    margin : 0;
    padding: 0px 5px 5px 5px;
}

.groupe_description_groupe {
	border:1px solid grey;
	float:left;
	margin-right:20px;
	text-align:left;
	width:250px;
	margin-bottom:20px;
	height:350px;
}

.groupeBulletin {
	background-color:#AAB7CD;
	width:400px;
	padding:0;
	margin:10px 0 10px 0;
}