
body {
  background: #6475d5 url(../images/fond-page-academy.gif) top center no-repeat;
  margin:auto;
  margin-bottom:10px;
  padding:0px;
  color: #4d454e;
  font-family: arial,serif;
  text-align:center;
}

.mainPageUnderMenu {
    float:left;
    width:100%;
    max-width:940px;
    border: 0px solid red;
    padding:10px 20px 0px 20px;
    margin-bottom:20px;
    background: #6475d5 url(../images/fond-academy-centre.gif) top repeat-x;
    font-size: 80%;
} 

.hamTitreBloc{
    color:#0b88d9;
}

.logoMain {
  background: url("../images/fond-logoMain_Ac.gif") top no-repeat;
}

.cadreArrondi-top-left {
    background: url(../images/cadres/hautgauche_j_ac.gif);
}
.cadreArrondi-top-right {
    background: url(../images/cadres/hautdroit_j_ac.gif);
}
.cadreArrondi-top-center {
    background: url(../images/cadres/hautcentre_j_ac.gif) top left repeat-x;
}
.cadreArrondi-bottom-left {
    background: url(../images/cadres/basgauche_j_ac.gif);
}
.cadreArrondi-bottom-right {
    background: url(../images/cadres/basdroit_j_ac.gif);
}
.macaron {    
    background: url(../images/macaron_ac.png);
}
.footer {
    background: transparent url('../images/fond-footer_ac.gif') top center no-repeat;
}

.hamBlocColonne-top-left {
    background: url(../images/cadres/hautgauche_hamBlocColonne_ac.gif);  
}
.hamBlocColonne-top-right {
    background: url(../images/cadres/hautdroit_hamBlocColonne_ac.gif); 
}
.hamBlocColonne-bottom-left {
    background: url(../images/cadres/basgauche_hamBlocColonne_ac.gif);
}
.hamBlocColonne-bottom-right {
    background: url(../images/cadres/basdroit_hamBlocColonne_ac.gif);
}


.cadreArrondi-bottom-center {
    background-color: #eceffe;
}
.cadreArrondi-contenu {
    background-color: #eceffe;
}

.header {
  background: url("../images/onglets/bg_ac.gif") top no-repeat;
  }
.header li.menuPrincipal {
  background: url("../images/onglets/left_ac.gif") no-repeat left top;
  }
.header li.menuPrincipalDecal {
  background:url("../images/onglets/left_ac.gif") no-repeat left top;
  }
.header li.menuPrincipalDroite {
  background:url("../images/onglets/left_ac.gif") no-repeat left top;
  }
.header a {
  background:url("../images/onglets/right_ac.gif") no-repeat right top;
  color:#e7ddf0;
}
.header #current {
  background-image:url("../images/onglets/left_on_ac.gif");
}
.header #current a {
  background-image:url("../images/onglets/right_on_ac.gif");
  color:#ffffff;
}   

.header a:hover {
  color:#ffffff;
  font-weight:bold;
}
  
.SubMenu{
    background-color: #0f1852;
}
.SubMenu li.menuPrincipal {
  background: url("../images/onglets/left_SubMenu_ac.gif") no-repeat left top;
  color:#e7ddf0;
  }
.SubMenu li.menuPrincipalDecal {
  background:url("../images/onglets/left_SubMenu_ac.gif") no-repeat left top;
  }
.SubMenu li.menuPrincipalDroite {
  background:url("../images/onglets/left_SubMenu_ac.gif") no-repeat left top;
  }
.SubMenu a {
  background:url("../images/onglets/right_SubMenu_ac.gif") no-repeat right top;
  color:#e7ddf0;
  }
.SubMenu #current {
  background-image:url("../images/onglets/left_SubMenu_on_ac.gif");
  }
.SubMenu #current a {
  background-image:url("../images/onglets/right_SubMenu_on_ac.gif");
  color:#ffffff;
  } 
  
.SubMenu a:hover {
  color:#ffffff;
  font-weight:bold;
}
  
.imageDansLeCoinGauche {
    /*
    float:none;   
    top:50px;
    margin-left: auto; 
    margin-right: auto;
    height: 350px; 
    position:absolute;
    width: 350px;
    left:0px;
    z-index: 0;
    background-image: url(../images/etoiles.gif);
    background-repeat: no-repeat;
    */
}

.navigationGroupe{
    width:600px;
    margin-left: auto;
    margin-top:20px;
    margin-right: auto;
    font-size:10pt;
    color: black;
    vertical-align:middle;
}

.navigationGroupe img{
    vertical-align:middle;
}

.navigationGroupe a{
    color: black;
}

.listeGroupes {
    font-size:9pt;
}

.listeGroupes img {
    vertical-align:middle;
}

.boutonTriGroupes img {
    vertical-align:middle;
}

.boutonTriGroupes input {
    font-style: italic;
}

.miniInstrument {
    vertical-align:middle;
    height:20px;
    margin-left:2px;
}

.topbar {
    /* background:#98B7CD url(../images/index/bartop_background4.png) repeat-x scroll 0 0; */
}

.topbartxt_under {
    color:rgb(200,200,200);
    background:transparent;
}

.topbartxt_under a {
    color:rgb(200,200,200);
}


.barresNiveauxVert {
    background:#4cbc01 ;
}

.barresNiveauxOrange {
    background:#55d4da ;
}