
html, body {
  margin: 0;
  padding: 0;
  color: #4d454e;
  background: #faa32f url('../images/fond_login.gif') top center repeat-x;
  font-family: arial,serif;
  text-align: center;
  margin-bottom:10px;
}

.LN-fond-indexHead {
    width: 980px;
    height: 695px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: #faa32f url('../images/fond_index-head.gif') top center no-repeat;
}

.LN-indexHead {
    position:relative;
    width: 980px;
    height: 695px;
    margin: 0 auto;
    padding: 0;
    text-align: middle;
    background: transparent url('../images/hamster_index-head.gif') top left no-repeat;
}

.LN-indexLogin{
    position:absolute;
    top: 200px;
    left: 550px;
    width: 379px;
    height: 132px;
    text-align:middle;
    
    
    
    border:0;
    background: transparent url('../images/fond-bloc-login.gif') top left no-repeat;
    font-size : 80%;
    padding: 10px 0 0 10px;
}

.LN-indexGo {
    width:150px;
    text-align:middle;
    float:left;
    z-index:3;
    top: 0px;
    left: 790px;
    margin-right:-150px;
    position:relative;
}

.LN-indexGo a {
    outline: none; 
}


.LN-indexPasInscrit{
    width:339px;
    height: 173px;
    text-align: center;
    left: 620px;
    top: 380px;
    position:absolute;
    border:0;
    background: transparent url('../images/fond-bloc-pasinscrit.gif') top left no-repeat;
    font-size : 90%;
    padding: 10px 0 0 10px;
    color: #fff;
}

.LN-indexPasInscrit-gros {
    font-size : 130%;
    font-weight: bold;
}

.LN-indexSinscrire{
    width: 295px;
    height: 113px;
    text-align: center;
    left: 685px;
    top: 450px;
    position:absolute;
    border:0;
}

.LN-lemeilleurjeu {    
    width: 277px;
    height: 77px; 
    position: absolute;
    left: 690px;
    top: 100px;
    text-align: center;
    background: transparent url('../images/banderole-login.gif') top center no-repeat;
    color: #fff;
    padding-top: 36px;
    font-size: 75%;
    line-height: 1.1em;
    font-weight: bold;
    letter-spacing: 0.1em;
}
 
.LN-photos-login {    
    width: 456px;
    height: 115px; 
    position: absolute;
    left: 524px;
    top: 580px;
    text-align: center;    
}


.LN-fond-indexBottom {
    width: 980px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: #faa32f url('../images/fond-index-bottom.gif') top center no-repeat;
}
.LN-indexBottom {
    position: relative;
    width: 930px;
    margin: 20px auto 0 auto;
    padding: 25px 25px 0 25px;
    text-align: center;
}


.LN-indexJeu {
    position: relative;
    width: 625px;
    text-align: center;
    margin-top: 15px;
}
.LN-indexPartenairesHead {
    margin-top:10px;
    border: 0;
    width: 615px;
    font-size: 9pt;
    color: #fff;
    padding: 5px;
}
.LN-indexPartenairesHead img {
    vertical-align: middle;
}

.LN-index-autour-du-jeu {
    width: 625px;
    text-align: center;
    margin-bottom: 15px;
}

.LN-index-cadres-bottom {
    width: 625px;
    text-align: center;
    margin-top: 20px;
}
.topeleveurs {
    float: left;
    width: 245px;
    border: 0;
}
.eleveurhasard {
    float: right;
    width: 355px;
    border: 0;
}



.LN-footer_partenaires {
    font-size: 8pt;
    padding-bottom:5px;
    margin-bottom:20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 930px;
    border: 0;
}






h1 {
    font-size: 14pt;
    margin-bottom: 5px;
    font-weight:normal;
    font-style: italic;
    font-family:trebuchet,arial;
}

.newsDate {
    font-size:9pt; 
    margin-bottom:8px; 
    font-weight: bold ;
    display:inline;
    color:#e7aa5b;
}

.newsTxt {
    font-size:9pt; 
    margin-bottom:8px;
    display:inline;
}

.newsBloc {
    margin-bottom:8px;
}

.slogan_hamster_academy {
    float:top;
    font-style : italic; 
    font-size: 12pt;
    margin-bottom: 5px;
    font-family:trebuchet,arial;
}

.footer_partenaires{
    font-size: 8pt;
    float:left;
    padding-bottom:5px;
    margin-bottom:20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width:900px;
    border:1px dashed gray;
}

.indexIllustration {
    width:480px;
    text-align:middle;
    float:left;
    top:65px;
    margin-left:-120px;
    position:relative;
}

.indexGo {
    width:150px;
    text-align:middle;
    float:left;
    z-index:3;
    top:60px;
    left:-165px;
    margin-right:-150px;
    position:relative;
}

.indexGo a {
    outline: none; 
}

.indexLogin{
    width:470px;
    text-align:middle;
    margin-top:0px;
    left:-40px;
    float:left;
    z-index:2;
    position:relative;
    border:0px solid red;
}

.indexHead{
    width:930px;
    text-align:middle;
    margin-right:auto;
    margin-left:auto;
    position:relative;
    float:left;
}

.indexJeu {
    width:930px;
    text-align:middle;
    margin-right:auto;
    margin-left:auto;
    position:relative;
    margin-top:15px;
    float:left;
}

.indexPartenairesHead {
    margin-top:10px;
    margin-left:100px;
    float:left;
    z-index:2;
    position:relative;
    border:1px dashed grey;
    width:630px;
    font-size:9pt;
    padding: 5px 5px 5px 5px;
}

.indexPartenairesHead img {
    vertical-align:middle;
}

.indexSloganOuf {
    margin-top:50px;
    margin-left:300px;
    float:left;
    z-index:2;
    position:relative;
    width:330px;
    font-size:9pt;
    padding: 5px 5px 5px 5px;
    font-size: 14pt;
    font-weight:normal;
    font-style: italic;
    font-family:trebuchet,arial;
}

.topbar {
}

.topbartxt {
    background:transparent;
    text-align:right;
    border:0px solid red;
    width:900px;
}
