
html, body {
  background:#DDDDDD;
  margin:auto;
  padding:0px;
  color:#000;
  /* background-image: url('images/fond_desert4.gif'); */
  background-repeat: repeat-y;
  font-family: arial,serif;
  /*text-align:center;*/
}

.mainPageUnderMenu {
	float:left;
	width:100%;
	max-width:959px;
	border-left:1px solid #888888;
	border-right:1px solid #888888;
	border-bottom:1px solid #888888;
	padding:10px 10px 10px 10px;
	margin-bottom:20px;
	background-color:#FCE495;
	/*background-image: url(images/fond_desert4.gif);*/
	background-repeat: repeat-y;
} 