
.LN-logoImage {    
    top:10px;
    margin-left: auto; 
    margin-right: auto;
    height: 185px; 
    position:relative;
    width: 304px;
    float:none;
}

.logoMain {
  background: url("../images/fond-logoMain.gif") top no-repeat;
  height: 172px;
  position: relative;
}

.logoMain_inscription {
  background: url("../images/fond-logoMain_Inscription.gif") top no-repeat;
  height: 220px;
  position: relative;
}



a:link {text-decoration:none; font-weight:bold; color: #4d454e;}
a:hover{text-decoration:none; font-weight:bold; }
a:visited {text-decoration:none; font-weight:bold; color: #4d454e;}
a img {border: 0;}

.txtErreur {
color:#AA0000;
}

.txtOk {
color:#0000AA;
}


.miniTab {
    font-size:8pt;
}

h1{
    margin-top:0;
}

h2{
    margin-top:0;
}

.titre1 {
font-size: 18px;
color: #faa32f;
font-weight: bold;
}

.header {
  float:left;
  width:100%;
  background: url("../images/onglets/bg.gif") top no-repeat;
  background-color :transparent;
  font-size: 80%;
  line-height:normal;
  z-index: 1;
  position:relative;
  height: 49px;
  }
.header ul {
  margin: 0 120px 0 0px;
  padding:10px 0px 0 50px;
  list-style:none;
  }
.header li {
  float:left;
  margin:0;
  padding:0 0 0 15px;
  }
.header li.menuPrincipal {
  float:left;
  background: url("../images/onglets/left.gif") no-repeat left top;
  margin: 0;
  padding:0 0 0 15px;
  }
.header li.menuPrincipalDecal {
  float:left;
  background:url("../images/onglets/left.gif") no-repeat left top;
  margin:0 0 0 40px;
  padding:0 0 0 14px;
  }
.header li.menuPrincipalDroite {
  float:right;
  background:url("../images/onglets/left.gif") no-repeat left top;
  margin: 0;
  padding:0 0 0 15px;
  }
.header a {
  float:left;
  display:block;
  background:url("../images/onglets/right.gif") no-repeat right top;
  padding: 5px 15px 4px 0px;
  text-decoration: none;
  font-weight: bold;
  color: #dadbe5;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
.header a {float:none;}
/* End IE5-Mac hack */

.header a:hover {
  color:#fff;
  font-weight:bold;
}

/* .header a:visited {
  font-weight:bold;
  color:#fff;
}   */

.header #current {
  background-image:url("../images/onglets/left_on.gif");
  }
.header #current a {
  background-image:url("../images/onglets/right_on.gif");
  color:#fff;
  padding-bottom:5px;
  }  
  
 

/* Ajout LN pour le sous-menu */

.SubMenu {
  float:left;
  width:100%;
  background-color: #cc8404;
  font-size: 80%;
  line-height:normal;
  z-index: 1;
  position:relative;
  height: 49px;
  }
.SubMenu ul {
  margin: 0 50px 0 0px;
  padding:10px 0px 0 50px;
  list-style:none;
  }
.SubMenu li {
  float:left;
  margin: 0 10px 0 0;
  padding:0 0 0 15px;
  }
.SubMenu li.menuPrincipal {
  float:left;
  background: url("../images/onglets/left_SubMenu.gif") no-repeat left top;
  margin: 0 10px 0 0;
  padding:0 0 0 15px;
  }
.SubMenu li.menuPrincipalDecal {
  float:left;
  background:url("../images/onglets/left_SubMenu.gif") no-repeat left top;
  margin:0 10px 0 50px;
  padding:0 0 0 14px;
  }
.SubMenu li.menuPrincipalDroite {
  float:right;
  background:url("../images/onglets/left_SubMenu.gif") no-repeat left top;
  margin: 0 10px 0 0;
  padding:0 0 0 15px;
  }
.SubMenu a {
  float:left;
  display:block;
  background:url("../images/onglets/right_SubMenu.gif") no-repeat right top;
  padding: 5px 15px 10px 0px;
  text-decoration: none;
  font-weight: bold;
  color: #dadbe5;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
.SubMenu a {float:none;}
/* End IE5-Mac hack */

.SubMenu a:hover {
  color:#fff;
  font-weight:bold;
}

.SubMenu #current {
  background-image:url("../images/onglets/left_SubMenu.gif") no-repeat left top;
  }
.SubMenu #current a {
  background-image:url("../images/onglets/right_SubMenu.gif") no-repeat right top;
  color: #fff;
  padding-bottom: 10px;
  }  
  
  
/* Fin ajout LN sous-menu  */
  
  


  /* pour les onglets verts */
    li.MenuVert {
  float:left;
  background:url("../images/onglets/left_vert.gif") no-repeat left top;
  margin: 0 0 0 40px;
  padding: 0 0 0 15px;
  }
  
    li.MenuVert a {
  float:left;
  display:block;
  background:url("../images/onglets/right_vert.gif") no-repeat right top;
  padding:5px 15px 10px 0px;
  text-decoration:none;
  font-weight:bold;
  color: #364630;
  }

  
  /* pour les onglets bleus */
    li.MenuBleu {
  float:left;
  background:url("../images/onglets/left_bleu.gif") no-repeat left top;
  margin:0 0 0 0px;
  padding:0 0 0 15px;
  }

    li.MenuBleuDecal {
  float:left;
  background:url("../images/onglets/left_bleu.gif") no-repeat left top;
  margin:0 0 0 40px;
  padding:0 0 0 15px;
  }
  
  .header li.MenuDroiteBleu {
  float:right;
  background:url("../images/onglets/left_bleu.gif") no-repeat left top;
  margin:0 0 0 20px;
  padding:0 0 0 15px;
  }  

  .header li.MenuDroiteBleu a {
  float:none;
  display:block;
  background:url("../images/onglets/right_bleu.gif") no-repeat right top;
  padding: 5px 15px 4px 0px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  }
  
    li.MenuBleu a {
  float:left;
  display:block;
  background:url("../images/onglets/right_bleu.gif") no-repeat right top;
  padding: 5px 15px 4px 0px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  }
  
  li.MenuBleuDecal a {
  float:left;
  display:block;
  background:url("../images/onglets/right_bleu.gif") no-repeat right top;
  padding: 5px 15px 4px 0px;
  text-decoration:none;
  font-weight:bold;
  color:#fff;
  }

  /*#headerbleu #currentSubMenu {
  background-image:url("images/onglets/left_on_bleu.gif");
  }
  
  #headerbleu #currentSubMenu a {
  background-image:url("images/onglets/right_on_bleu.gif");
  } */ 






.mainPage {
    float:none;
    width:980px;
    margin-left:auto;    
    margin-right:auto;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    border: 0px;
    text-align: left;
}  

/* pour le dessin des étages */

.blocCage{
position: relative ;
top:0px;
left:0px;
z-index: 1;
text-align : left;
margin-left: auto; margin-right: auto;
}

.blocEtageCage, .blocEtageCageToit {
position: relative ;
top:0px;
left:0px;
z-index: 1;
text-align : left;
}

.textureFond {
position: relative ;
width: 100%;
top:0px;
left:0px;
z-index: 1;
text-align : left;
}

.cageAccessoire {
width: 48px;
height: 50px;
position:absolute ;
background-color:transparent;
z-index: 2;
}


/* pour l'affichage des hamsters */
.hamColonneGauche {
float: left;
width: 28%;
margin: 0 20px 10px 0px ;
border: 0px solid red;
}

.hamColonneDroite {
float:right;
width: 25%;
margin: 0 0 10px 0px ;
border: 0px solid blue;
font-size: 95%;
}

.hamColonneCentrale {
float: left;
text-align: center;
width: 42%;
margin: 0 20px 0 0 ;
padding: 0;
border:0px solid green;
background-color: #FFFFFF;
}



.elementAction{
margin:0 0 15px 0px;
width:100%;
float:left;
}

.elementAction img{
    height:40px;
}

.elementActionDesactive{
float:left;
width:100%;
margin:0 0 15px 0px;
filter:alpha(opacity=50);
opacity:0.5;
}

.elementActionDesactive img{
    height:40px;
}

.elementFlou{
width:100%;
margin:0 0 15px 0px;
filter:alpha(opacity=30);
opacity:0.3;
}


/* mise en page pour jeu_accueil */
.accueilColonneGauche {
float:left;
width:28%;
margin:0 20px 10px 0px ;
border:0px solid red;
}

.accueilColonneDroite {
float:right;
text-align:center;
width:25%;
margin:0 0 10px 0px ;
border:0px solid blue;
font-size: 95%;
}

.accueilColonneCentrale {
float:left;
text-align:center;
width:42%;
margin:0 20px 0px 0px ;
border:0px solid green;
background-color: #FFFFFF;
}

.bienvenue-accueil {
font-size: 140%;
}

.separateur-accueil {
background: url("../images/fond-gris-degrade.gif") top center repeat-x;
padding: 0;
margin: 0;
height: 23px;
width: 90%;
text-align: center;
margin: 0 20px;
}



/* mise en page pour jeu_cage */
.cageColonneGauche {
float:left;
width: 28%;
margin:0 20px 10px 0px ;
border:0px solid red;
}

/* .cageColonneDroite {
float:right;
text-align:center;
width:25%;
margin:0 0 10px 0px ;
border:0px solid blue;
} */

.cageColonneCentrale {
float:left;
text-align:center;
width:69%;
margin:0 20px 0px 0px ;
border:0px solid green;
background-color: #FFFFFF;
}

.hamImg{
margin:  0 auto ;
text-align:center;
}



/* mise en page pour inscription */

.inscriptionPage {
text-align: center;
width: 940px;
margin: 0 20px 0px 0px ;
border: 0px solid green;
}




.hamAffGlob {
text-align:center ;
padding : 10px 10px 10px 10px ;
border:0px solid black;
}



.hamBlocColonne-top {
    margin: 0; 
    border : 0;
    text-align: center;
}
.hamBlocColonne-top-left {
    float: left;
    width: 36px;
    background: url(../images/cadres/hautgauche_hamBlocColonne.gif);
    border: 0;
    height: 36px;    
}
.hamBlocColonne-top-right {
    float: right;
    width: 36px;
    background: url(../images/cadres/hautdroit_hamBlocColonne.gif);
    border: 0;
    height: 36px;    
}
.hamBlocColonne-top-center {
    overflow: visible; 
    border: 0;
    height: 36px;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.hamBlocColonne-bottom {
    margin: 0; 
    border : 0;
    text-align: center;
    height: 36px;    
}
.hamBlocColonne-bottom-left {
    float: left;
    width: 36px;
    background: url(../images/cadres/basgauche_hamBlocColonne.gif);
    border: 0;
    height: 36px;    
}
.hamBlocColonne-bottom-right {
    float: right;
    width: 36px;
    background: url(../images/cadres/basdroit_hamBlocColonne.gif);
    border: 0;
    height: 36px;    
}
.hamBlocColonne-bottom-center {
    overflow: visible; 
    border: 0;
    height: 36px;
    background-color: #fff;
    margin: 0;
}

.hamBlocColonne{
text-align:left;
margin-bottom: 40px;
margin-left: auto; margin-right: auto;
padding: 0;
width: 90%;
background-color: #fff;
border:0px solid red ;
}

.hamBlocColonneTransparent{
text-align:left;
margin-bottom:40px;
margin-left: auto; margin-right: auto;
padding: 0 0 0px 0px;
width:100%;
background-color: transparent;
border:0px solid red ;
}

.cageNeige{
/*background-color: rgb(200,200,255);*/
/*background: url("../images/cage/fond_cage_montagne.jpg") bottom no-repeat;*/
}

.hamBlocColonne_full{
text-align:left;
margin: 0;
padding: 0 30px 0 30px;
width: 880px;
background-color: #fff;
border:0px solid red ;
min-height:300px;
}




.hamTitreBloc{
font-size : 14pt  ;
text-align:center;
margin-bottom:15px;
color: #f79f00;
border:0px solid blue ;
}

.ham1Nouvelle {
margin : 5px 2px 2px 2px;
}

.hamNouvellesImg {
margin: 0 10px 0 0 ;
display:inline;
vertical-align:middle;
}

img.hamNouvellesImg {
text-align:center;
}

.hamBlocTxt {
text-align:justify;
display:inline;
}

.optionsNomChamps {
width:15em; 
float:left;
}

.optionsValeurChamps {
float:left;
}

.optionsValeurChampsErreur {
float:left;
margin-left : 1em ;
color:#AA0000;
}

.optionsNomChampsOptionnel{ 
margin-left : 3em;
}

.optionsValeurChampsOptionnel {
margin : 0 0 0 0.3em;
}

/* pour la boutique */
.boutiqueRayons {
    float:left;
    /*width:200px;*/
    text-align:left;
}

.boutiqueRayon {    
    float:left;
    text-align:center;
    border:0px solid blue;
    padding:0px 10px 0px 10px; 
    font-size:small;
    width:90px;
}

.boutiqueRayonSelected {    
    background-color: #f59d00;
}

.boutiqueToutLeRayon {
    /*float:left;*/
    width:850px;
    margin-left:0px;
    margin-top: 0px;
    text-align:left;
    background-color:#FFFFFF;
}

.boutiqueEtagere {
    margin-left:auto;
    margin-right:auto;    
    padding-left:0px;
    border:0px solid red;
    padding-bottom:40px;
    vertical-align:baseline;
}

.boutiqueObjet {
    padding-left:0px;
    width:400px;
    border:0px solid red;
}

.boutiqueElementEtagere {
    float:left;
    text-align:center;
    border:1px solid white;
    margin:3px 3px 3px 3px;
    height:110px;
    width:110px;
    font-size:small;
}

.boutiqueElementEtagereSelected {
    background-color:rgb(190,215,225);
    border:1px solid #ccc;
}

.demoVideo {
    margin-bottom:40px;
    text-align:center;
}

.aideSection{
    text-align:justify;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
}

.aideSousSection{
    text-align:justify;
    width:750px;
    margin-left:20px;
    margin-bottom: 20px;
}

.aideTitreSection{
    font-size: x-large ;
    margin-bottom:10px;
}

.aideTitreSousSection{
    font-size: 17pt ;
    margin-bottom:10px;
}

.aideQuestion {
    font-size: 14pt ;
    margin-bottom:10px;
}

.aideReponse {
    font-size: 12pt ;
}

div#tooltip {
   position:absolute;
   visibility:hidden;
   z-index:100;
   background-color:#FFEEC7;
   border:1px solid black;
   padding:0.2em;
   font-size:0.8em;
}

.clear{
    clear:both;
}

.quizz{
width:700px;
margin-left: auto; margin-right: auto;
text-align:left;
}

.quizzReponse{
    margin-left:20px;
}

.partenaires {
    width:600px;
    margin-left: auto; margin-right: auto;
}
.partenaires li {
    /*display:inline;*/
    margin-right:8px;
    font-size:small;
    
}



.LN-indexbottom-col-gauche {
    float: left;
    width: 280px;
    margin: 0 25px 10px 0;
    border : 0px;
    text-align: center;    
}
.LN-indexbottom-col-droite {
    float: left;
    width: 625px;
    margin-bottom: 10px;
    border : 0px;
    text-align: center;

}

.cadreArrondi-top {
    margin: 0; 
    border : 0;
    text-align: center;
}
.cadreArrondi-top-left {
    float: left;
    width: 35px;
    background: url(../images/cadres/hautgauche_j.gif);
    border: 0;
    height: 40px;    
}
.cadreArrondi-top-right {
    float: right;
    width: 35px;
    background: url(../images/cadres/hautdroit_j.gif);
    border: 0;
    height: 40px;    
}
.cadreArrondi-top-center {
    overflow: visible; 
    border: 0;
    height: 28px;
    background: url(../images/cadres/hautcentre_j.gif) top left repeat-x;
    margin: 0 35px;
    padding: 12px 0 0 0;
    color: #34334d;
    font-size: 110%;
    font-weight: bold;
}
.titre-bloc-gros {
    font-size: 130%;
}
.titre-bloc-gros2 {
    font-size: 110%;
}


.cadreArrondi-contenu {
    margin: 0;
    padding: 10px 20px 10px 20px;
    background-color: #fbf5e6;    
}


.cadreArrondi-bottom {
    margin: 0; 
    border : 0;
    text-align: center;
}
.cadreArrondi-bottom-left {
    float: left;
    width: 35px;
    background: url(../images/cadres/basgauche_j.gif);
    border: 0;
    height: 35px;    
}
.cadreArrondi-bottom-right {
    float: right;
    width: 35px;
    background: url(../images/cadres/basdroit_j.gif);
    border: 0;
    height: 35px;    
}
.cadreArrondi-bottom-center {
    overflow: visible; 
    border: 0;
    height: 35px;
    background-color: #fbf5e6;
    margin: 0 35px;
}






.message_body {
    border: gray 1px solid;
    background : white;
    padding:5px 5px 5px 5px;
    width:600px;
}

.logoInscription {
    height: 152px; 
    margin-top: 1px; 
    text-align:center; 
}

.logoImage {    
    top: 20px;
    left: 10px;
    height: 165px; 
    position: absolute;
    width: 120px;
}
.macaron {    
    top: 130px;
    left: 860px;
    height: 110px; 
    position: absolute;
    width: 110px;
    background: url(../images/macaron.png);
    z-index: 100;
}

<!--[if IE 7]>
.macaron {
    display:none;   
}
<![endif]-->

.logoImageInscription {
    
    margin-left: auto; 
    margin-right: auto;
    height: 177px; 
    position:relative;
    width: 384px;
    float:none;
    right:0px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.logoTitre{
    
    top:40px;
    right:-250px;
    margin-bottom:0px;
    margin-left: auto; 
    margin-right: auto;
    width: 300px;
    text-align: center; 
    position: absolute;
    /*left:10px;*/
    font-size:24pt;
    font-weight: bold ;
}

.logoSousTitre {
    margin-top:10px;
    font-size : 18pt;
}

.avatarSilhouette {
    margin-bottom:3px;
    vertical-align: middle; 
}

.avatarSilhouette img {
        width: 30px;
        vertical-align:middle;
}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

.centre {
    margin-right:auto;
    margin-left:auto;   
}

a.button_gris {
    background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button_gris span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button_gris:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button_gris:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 

.footer {
    font-size: 9pt;
    float:left;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width:980px;
    border: 0px solid red;
    background: transparent url('../images/fond-footer.gif') top center no-repeat;    
    padding-top: 15px;
    padding-bottom: 20px;
}

.elementAction .img_piece, .img_piece {
    width:20px;
    height:20px;
    vertical-align: middle;
}

.img_hamster {
    width:20px;
    height:16px;
    vertical-align: top;
}

.menuTop {
    float:right;
    margin-top : 0px;
    text-align:left;
    font-size:8pt;
    margin-right:10px;
}

.newsDate {
    font-size:9pt; 
    margin-bottom:8px; 
    font-weight: bold ;
    display:block ;
}

.newsTxt {
    font-size:9pt; 
    margin-bottom:8px;
    display:block ;
}

.newsBloc {

}

.majuscule {
    font-size:12pt; 
    font-weight:bold;
}

.blocOptions {
    text-align : left;
    border:1px dashed gray; 
    padding:5px 5px 5px 5px;
    padding-bottom: 15px;
    margin-bottom:20px;
}

.blocOptions h3 {
    padding-top:0px;
    margin-top: 0px;
}

.ingredient {
    vertical-align: middle;
}

.droppable-active {
}
.droppable-hover {
    opacity:0.7;
}
.cageAccessoire:hover{
    border:1px solid grey;
    margin-top:-1px;
    margin-left:-1px;
}

.topbar {
    height: 21px;
    position: absolute;
    top: 8px;
    width: 960px;
    margin: 0 20px 0 0;
    z-index: 100;
    text-align: right;
    padding: 0;
    border:0px solid red;
}

.topbar_sup {
    position:relative;
    border:0px solid blue;
}

.topbar_under {
    position:relative;
    border:0px solid green;
}

.topbartxt {
    background:white;
    /*width:540px;*/
    height: 21px;
    color: #34301b;
    font-weight: bold;
    font-size:8pt;
    padding-top:0px;
    text-align:right;
    margin-left: auto;
    margin-right: 0px;
    line-height:16pt;
    border:0px solid red;
}

.topbartxt_under {
    color:#34301b;
    background:transparent;
}

.topbartxt a {
    color:rgb(80,80,80);
    font-family:"Trebuchet MS",Verdana,Arial;
    font-weight: bold;
}

.topbartxt_under a {
    color:rgb(80,80,80);
}

.topbartxt .deconnection a {
    color:rgb(120,120,120);
    font-family:"Trebuchet MS",Verdana,Arial;
    font-weight: bold;
}

.topbartxt .img_piece {
    height: 16px;
    width: 16px;
    vertical-align: top;
}




.liens-footer-Page {
text-align: center;
width: 940px;
margin: 0 20px 0px 0px ;
border: 0px solid green;
}

.logoMain_footer-Page {
  background: url("../images/fond-logoMain_footer-Page.gif") top no-repeat;
  height: 108px;
  position: relative;
  text-align: center;
  margin: 0;
  border: 0;
}
.logoImage-footer-Page {    
    top: 0px;
    left: 375px;
    height: 165px; 
    position: absolute;
    width: 120px;
} 
