
html, body {
  background-color:#000071;
  margin:0 0 0 0;
  padding:0 0 0 0;
  color:#000;
  background-image: url(../images/index/fond_index.gif);
  background-repeat: repeat-x;
  font-family: arial,serif;
  text-align:center;
  margin-bottom:10px;
}

.newsDate {
	font-size:9pt; 
	margin-bottom:8px; 
	font-weight: bold ;
	display:inline;
}

.newsTxt {
	font-size:9pt; 
	margin-bottom:8px;
	display:inline;
}

.newsBloc {
	margin-bottom:8px;
}

.slogan_hamster_academy{
    font-style : italic; 
    font-size: 12pt;
    margin-bottom: 5px;
    font-family:trebuchet,arial;
}

.footer_partenaires{
    font-size: 8pt;
    float:left;
    margin-bottom:20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width:900px;
    border:1px dashed gray;
}